/*
	Project Name: Datea WebApp
	URI: http://datea.pe/
	Author: Team Datea
	Author URI:
	Description: Main CSS for Datea.pe
	Version: 1.0
	Tags: datea, información, participación ciudadana, comparte...
*/


//
// Import Less
//

// @import "app/bower_components/bootstrapless/less/mixins.less";
@import "app/bower_components/bootstrapless/less/bootstrap.less";
@import "app/styles/modules.less";
// @import "app/bower_components/bootstrap-social/bootstrap-social.less";

//
// Variables
//

@property: all;

// Colors
// @color-selection: #b3d4fc; // light blue
// @color-1: #EDFF00; // yellow
// @color-2: #8B00A4; // purple
// @color-3: #D3DAD7; // map frame grey
// @color-4: #EFF2F0; // bg grey
// @color-5: #28BC45; // green
// @color-6: #5E6E66; // text grey
// @color-7: #E9EDEB; // well grey
// @color-8: #EAFF74; // well important
// @color-9: #5E6E66; // followable tag hover
// @color-10: #909E97; // signin signup grey bg
// @color-11: #231F20; // footer brown
// @color-12: #28BC45; // green


// URLS
@imgUrl      : '../static/images/';

//
// Base styles
//
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

@font-face {
	font-family: 'HelveticaLTSTD-Cond';
	src: url('fonts/helveticaltstd-cond/HelveticaLTStd-Cond.eot');
	src: local('☺'),url('fonts/helveticaltstd-cond/HelveticaLTStd-Cond.woff') format('woff'),
	url('fonts/helveticaltstd-cond/HelveticaLTStd-Cond.ttf') format('truetype'),
	url('fonts/helveticaltstd-cond/HelveticaLTStd-Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OldSansBlack';
	src: url('fonts/oldsansblack/OldSansBlack.eot');
	src: local('☺'),url('fonts/oldsansblack/OldSansBlack.woff') format('woff'),
	url('fonts/oldsansblack/OldSansBlack.ttf') format('truetype'),
	url('fonts/oldsansblack/OldSansBlack.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@ff1 : 'HelveticaLTSTD-Cond', sans-serif;
.ff1 {
	font-family: @ff1;
	font-weight: normal;
	font-style: normal;
}

.ff2 {
	font-family: 'OldSansBlack', sans-serif;
	font-weight: normal;
	font-style: normal;
}

::-moz-selection {
  background: @color-selection;
  text-shadow: none;
}

::selection {
  background: @color-selection;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @ff1;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

  a {
  	text-decoration: none;
  }
}

// Remove default fieldset styles.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

form.ng-invalid input[type="submit"],
form.ng-valid .btn[disabled] {
	display: none;
}

form.ng-valid input[type="submit"],
form.ng-invalid .btn[disabled] {
	display: inline-block;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440 
img { vertical-align: middle; }

// Allow only vertical resizing of textareas.
textarea { resize: vertical; }

.block {
	display: block;
}
.part {
	display: inline-block;
	vertical-align: top;
}
.relative {
	position: relative;
}
.transition {
	-webkit-transition: @property .25s 'ease-in-out';
	   -moz-transition: @property .25s 'ease-in-out';
	    -ms-transition: @property .25s 'ease-in-out';
	        transition: @property .25s 'ease-in-out';
}
.underlined {
	text-decoration: underline;
}

.nav,
.pagination,
.carousel,
.panel-title a {
	cursor: pointer;
}

.nav-tabs {
	font-weight: bold;
	text-transform: uppercase;
}

.page {
	background: @color-4;
	padding: 0;
	position: relative;
}

.datea-loading:after {
	content: " ";
	background: rgba(255,255,255,.5) url('@{imgUrl}/globals/loading.gif') no-repeat center center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

//
// Navbar
//
.datea-navbar {
	background: @color-1;
	margin: 0;

	.navbar-brand {
		padding: 10px 15px;
	}
	.navbar-nav {
		font-size: 18px;
		margin: 10px 0 0;

		& > li > a {
			color: black;
			text-transform: uppercase;
		}
	}
}


//
// Structure
//
.colophon {
	background-color: #231F20;
	color: white;
	min-height: 120px;
	position: relative;

	.datea-rights {
		padding-top: 20px;
		text-align: right;
	}
}

//
// Sign In
//

.signin-holder {
	@sectionImgUrl : 'signin/';

	background: @color-10 url('@{imgUrl}/signin/bg.png') no-repeat center 20px;
	height: 790px;
	// position: absolute;
	width: 100%;

	.signin {
		background: white;
		border-radius: 5px;
		padding: 40px;
		position: relative;
		top: 187px;

		h1 {
			color: @color-5;
			font-weight: bold;
		}

		.subheading {
			font-weight: bold;
		}

		.part-1 {
			width: 65%;
		}
		.part-2 {
			width: 34%;
		}
	}
}

//
// Signup
//

.signup-holder {
	@sectionImgUrl: 'signup/';

	background: @color-10 url('@{imgUrl}/signin/bg.png') no-repeat center 20px;
	height: 682px;
	width: 100%;

	.signup {
		background: white;
		border-radius: 5px;
		padding: 40px;
		position: relative;
		top: 187px;

		h1 {
			color: @color-5;
			font-weight: bold;
		}
		.subheading {
			font-weight: bold;
		}

		.part-1 {
			width: 65%;
		}
		.part-2 {
			width: 34%;
		}
	}
}

//
// Signupform
//

.signup-form-holder {
	@sectionImgUrl: 'signup-form/';

	background: @color-10 url('@{imgUrl}/signin/bg.png') no-repeat center 20px;
	height: 790px;
	width: 100%;

	.signup-form {
		background: white;
		border-radius: 5px;
		padding: 40px;
		position: relative;
		top: 187px;

		h1 {
			color: @color-5;
			font-weight: bold;
		}

		.form-control-feedback {
			display: none;
		}
	}
}

//
// Home visitor / landing
//
.landing-holder {
	@sectionImgUrl : 'landing/';

	left: 0;
	// position: absolute;
	top: 0;
	width: 100%;

	.section-holder-1 {
		background: @color-1;
	}

	.section-1 {
		height: 220px;
		text-align: center;

		.social-holder {
			font-size: 12px;
			font-weight: bold;
			padding: 20px 0 0;

			a {
				color: @gray-dark;
			}

			// .fa {
			// 	background: white;
			// }
			// .fa-facebook-square {
			// 	color: #0058A8;
			// }
			// .fa-twitter-square {
			// 	color: #01AFCF;
			// }
		}
		.main-heading {
			font-size: 73px;
		}
		.slogan {
			font-size: 29px;
			text-transform: uppercase;
		}
	}

	.section-holder-2 {
		background: white;
	}

	.section-2 {
		height: 250px;
		padding: 42px 0 0 0;
		text-align: center;

		.part {
			font-size: 21px;
			text-align: center;
			width: 300px;

			img {
				margin: -15px 0 0;
			}
		}
		.number {
			font-size: 36px;
			margin: 0 5px;
		}
		.question {
			font-size: 21px;
			margin: 40px 0 12px 0;
		}
	}

	.section-holder-3 {
		background: @color-2 url('@{imgUrl}/landing/section-3-bg.png') repeat;
		color: white;
	}

	.section-3 {
		height: 230px;

		h3 {
			font-size: 36px;
			font-weight: bold;
			left: 60px;
			position: relative;
			text-transform: uppercase;
		}

		.part {
			padding: 0 110px;
			position: relative;
			width: 33%;
			text-align: center;

			@iconFile: 'section-3-icons.png';
			@iconUrl : '@{imgUrl}@{sectionImgUrl}@{iconFile}';

			.icon {
				margin: 0 auto 5px;
			}

			.icon-1 {
				background: url(@iconUrl) no-repeat -20px -28px;
				height: 46px;
				width: 44px;
			}
			.icon-2 {
				background: url(@iconUrl) no-repeat -118px -10px;
				height: 83px;
				width: 83px;
			}
			.icon-3 {
				background: url(@iconUrl) no-repeat -232px -20px;
				height: 55px;
				width: 57px;
			}
		}
		.part-1 {
			top: 9px;
		}
		.part-2 {
			top: -30px;
		}
	}

	.section-holder-4 {
		background: @color-10;
		color: white;
	}

	.section-4 {
		height: 720px;

		h3 {
			font-size: 36px;
			font-weight: bold;
			left: 60px;
			position: relative;
			text-transform: uppercase;
			top: 20px;
		}

		.howitworks-holder {
			.part {
				position: relative;
				width: 33%;
			}
			.step-number {
				background: @color-1;
				border-radius: 25px;
				color: @color-10;
				font-weight: bold;
				font-size: 18px;
				left: -35px;
				line-height: 22px;
				padding: 4px 9px 0;
				position: absolute;
				width: 26px;
			}
			.step-emphasis {
				display: block;
				text-transform: uppercase;
			}
			@iconFile: 'section-4-icons.png';
			@iconUrl : '@{imgUrl}@{sectionImgUrl}@{iconFile}';

			.part-1 {

				padding: 0 0 0 90px;
				top: 40px;

				.icon-1 {
					background: url(@iconUrl) no-repeat -8px 0;
					height: 204px;
					position: absolute;
					width: 149px;
				}

				.step-1 {
					left: 130px;
					position: relative;
					top: 140px;
					width: 140px;
				}

			}
			.part-2 {

				left: 40px;
				width: 28%;

				.icon-2 {
					background: url(@iconUrl) no-repeat -183px -34px;
					height: 170px;
					left: 20px;
					position: absolute;
					top: 65px;
					width: 200px;
				}
				.step-2 {
					left: 30px;
					position: relative;
					top: 10px;
				}
			}
			.part-3 {

				left: 30px;

				.icon-3 {
					background: url(@iconUrl) no-repeat -429px -62px;
					height: 125px;
					position: absolute;
					width: 259px;
				}
				.step-3 {
					left: 28px;
					position: relative;
					top: 140px;
				}
				.datea-btn {
					left: 28px;
					position: relative;
					top: 150px;
				}
			}
		}

		.meta-info-holder {
			margin: 0 auto 0;
			position: relative;
			top: 220px;
			width: 85%;

			.part {
				border-radius: 5px;
				height: 320px;
				margin: 0 20px 0 0;
				width: 440px;
			}

			.most-dateo {
				background: white url('@{imgUrl}/landing/section-4-map.png') no-repeat center 50px;
				color: @color-10;
				padding: 15px;

				h4 {
					font-weight: bold;
					text-transform: uppercase;
				}

				.trending-tags-holder {
					position: relative;
					top: 170px;
					width: 220px;

					.datea-tag-btn {
						margin: 0 10px 0 0;
					}
				}
				.datea-btn {
					left: 255px;
					position: relative;
					top: 155px;
				}
			}
			.outstanding-dateo-holder {
				background: @color-1;
				color: @color-10;
				padding: 10px;

				h4 {
					font-weight: bold;
					text-transform: uppercase;
				}

				.outstanding-dateo {
					background: white;
					border-radius: 5px;
					color: black;
					height: 220px;
					padding: 15px;

					.user-info {
						height: 60px;

						.part-1 {
							height: 80px;
							margin: 0;
							width: 50px;

							.user-img {
								height: 48px;
								margin: 0 auto 0;
								position: relative;
								width: 48px;
							}
						}
						.part-2 {
							height: 80px;
							position: relative;
							width: 200px;

							h4 {
								margin: 10px 0 0;
								font-size: 15px;
								text-transform: lowercase;
							}
							.date {
								color: @color-6;
								font-size: 12px;
							}
						}
					}

					.outstanding-dateo-img {
						height: 70px;
						margin: 0 0 10px 0;
						width: 105px;
					}
					.icon-holder {
						height: 10px;
						width: 30px;
					}
					.outstanding-dateo-more-btn {
						left: 180px;
						position: relative;
						top: -20px;
					}
				}

			}
		}

	}
	.section-holder-5 {
		background: @color-7;
		color: @color-10;
	}
	.section-5 {
		height: 370px;

		h3 {
			font-size: 28px;
			font-weight: bold;
			left: 60px;
			position: relative;
			text-transform: uppercase;
			top: 20px;
		}

		.campaigns-holder {
			margin: 0 auto 0;
			position: relative;
			top: 20px;
			width: 840px;
		}

		.campaign-holder {
			background: white;
			color: black;
			height: 225px;
			margin: 0 20px;
			padding: 10px;
			width: 170px;

			h4 {
				height: 38px;
				margin: 10px 0 0;
			}
			span {
				font-size: 12px;
			}
			.campaign-img {
				height: 150px;
				width: 150px;
			}
			.datea-btn-xs {
				font-size: 12px;
				left: 16px;
				line-height: 19px;
				padding-left: 0px;
				padding-right: 2px;
				position: relative;
				top: -6px;
				width: 60px;
			}
		}
		.more-campaigns-btn {
			left: 844px;
			position: relative;
			top: 35px;
		}
	}
	.section-holder-6 {
		background: white;
		color: black;
	}
	.section-6 {
		height: 250px;

		h3 {
			font-size: 28px;
			font-weight: bold;
			left: 60px;
			position: relative;
			text-transform: uppercase;
			top: 20px;
		}
		.parts-holder {
			margin: 0 auto 0;
			position: relative;
			top: 20px;
			width: 750px;
		}
		.part-1 {
			width: 250px;

			p {
				font-size: 20px;
				left: 60px;
				position: relative;
				width: 175px;
			}
			.icon-1 {
				background: url('@{imgUrl}/landing/section-5-icons.png') no-repeat -1px -27px;
				height: 50px;
				position: absolute;
				width: 50px;
			}
		}
		.part-2 {
			width: 250px;

			p {
				font-size: 20px;
				left: 60px;
				position: relative;
				width: 175px;
			}
			.icon-2 {
				background: url('@{imgUrl}/landing/section-5-icons.png') no-repeat -71px -27px;
				height: 50px;
				position: absolute;
				width: 50px;
			}
		}
		.part-3 {

			.appstore-icon {
				background: url('@{imgUrl}/landing/section-5-icons.png') no-repeat -152px -48px;
				height: 48px;
				position: absolute;
				width: 127px;
			}
			.playstore-icon {
				background: url('@{imgUrl}/landing/section-5-icons.png') no-repeat -152px 0px;
				height: 48px;
				position: absolute;
				top: 52px;
				width: 127px;
			}
		}
	}
}

//
// Datear modal
//
.datea-custom-imgUL::-webkit-file-upload-button {
	height: 0;
	visibility: hidden;
	width: 0;
}
.datear-modal {

	height: 470px;

	.modal-header {
		h3 {
			color: @color-12;
			font-weight: bold;
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	.datear-breadcrumb {
		background-color: transparent;
		left: 100px;
		position: absolute;
		top: 14px;
		width: 160px;

		.scroll-title {
			cursor: pointer;
			padding: 0 0 0 12px;
			position: relative;
			width: 32px;
		}
		.scroll-active {
			color: white;
			background: @color-12!important;
		}
		.scroll-inactive {
			color: white;
			background: @color-7;
		}
	}

	.datear-breadcrumb > li + li:before {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid white;
		content: " ";
		height: 0;
		left: 0;
		position: absolute;
		width: 0;
		z-index: 0;
	}

	.datear-breadcrumb > li:after {
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 10px solid @color-7;
		content: " ";
		height: 0;
		left: 31px;
		position: absolute;
		width: 0;
		z-index: 1;
	}

	.datear-breadcrumb > li.scroll-active:after {
		border-left: 10px solid @color-12!important;
	}

	.modal-dialog {
		height: 100%;
		margin: 0 auto 0;
		overflow: scroll;
	}

	.modal-content {
		height: 98%;
		overflow: hidden;
	}

	.modal-body {
		height: 87%;
		overflow: scroll;

		.datea-no-margin-bottom {
			margin-bottom: 0px;
		}

		.part-1 {
			width: 50%;


			input[type="file"] {
				color: transparent;
				cursor: pointer;
				width: 35px;
				height: 35px;
			}

			.datea-custom-imgUL:before {
				background: url('@{imgUrl}/datear/img-ul.png') no-repeat;
				content: " ";
				cursor: pointer;
				display: block;
				height: 35px;
				width: 35px;
				-webkit-user-select: none;
			}
		}
		.part-2 {
			width: 49%;
		}

		.datear-form-holder {

			.date-picker-holder {
				display: inline-block;
				min-height: 290px;
			}

			.datepicker-holder-fix {
				padding: 0;
				position: relative;
				top: 25px;
			}

			.timepicker-holder {
				position: relative;
				top: -12px;
			}

			.uploaded-img {
				display: block;
				margin: 0 auto 0;
			}

			.datear-form {
				margin-bottom: 200px;

			}

		}
	}

}

//
// Home Signed In
//

.homeSI-holder {
	padding: 20px;

	.part-1 {
		width: 60%;
	}
	.part-2 {
		width: 39%;
	}
	.homeSI-map-holder {
		margin: 0 0 45px;
		position: relative;
		width: 90%;

		.map-frame {
			padding: 5px;
			background: @color-3;

			.form-group {
				display: inline-block;
				margin-bottom: 0;
				vertical-align: top;
			}
			.btn {
				display: inline-block;
				vertical-align: top;
			}
			.search-box {
				margin: 0 5px 0 4px;
				width: 250px;
			}
		}
		.map-frame-top {
			border-radius: 5px 5px 0 0;

			.order-by {
				background-color: @color-3;
				border: none;
				box-shadow: none;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
			}
			.order-by-label {
				position: relative;
				top: 7px;
			}
			.select-arrow-down {
				left: -10px;
				position: relative;
				top: 6px;
			}
		}
		.map-frame-bottom {
			border-radius: 0 0 5px 5px;
			text-align: center;

			.fix-center {
				margin-left: 75px;
			}
		}
	}
	.datea-tabset{
		width: 590px;
	}
	.campaigns-holder {
		background: white;
		border: 1px solid;
		border-color: #fff #ddd #ddd;
		border-radius: 3px;
		padding: 15px 25px;
		position: relative;
		width: 590px;

		.search-box {
			height: 40px;
			position: relative;

			.input-group {
				position: absolute;
				right: 0;
			}
		}

		.campaign {
			border: 1px solid #ddd;
			color: black;
			display: inline-block;
			margin: 0 10px 15px 0;
			padding: 3px;
			vertical-align: top;
			width: 169px;

			&:hover {
				background: @color-4;
				text-decoration: none;
			}

			h4 {
				font-size: 18px;
				height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-transform: capitalize;
				width: 100%;
			}
			.campaign-img {
				height: 160px;
				margin: 0 0 5px 0;
				width: 160px;
			}
			.dateo-count {
				color: @color-6;
				font-size: 12px;
			}
			.status {
				color: @color-5;
				font-size: 12px;
			}
		}
	}
	.homeSI-meta-holder {
		.block-1 {
			background: white;
			border-radius: 3px;
			padding: 10px;
			position: relative;
		}
		.user-info {
			background: @color-7;
			margin: 29px 0 45px;
			padding: 10px;

			a {
				margin: 0 7px;
			}

			.parts-holder {
				margin: 0 0 10px;
			}

			.part-1 {
				width: 75px;
				text-align: center;

				img {
					height: 50px;
					width: 50px;
				}
			}
			.part-2 {
				h3 {
					font-size: 18px;
					font-weight: bold;
					margin: 10px 0 0;
				}
				span {
					font-size: 15px;
				}
				.votes-count {
					margin: 0 0 0 10px;
				}
			}

			.datea-datear-btn {
				margin: 0 0 0 12px;
			}
		}
		.user-info:before {
			background: @color-1;
			border-radius: 3px 3px 0 0;
			content: "dater@";
			font-family: @ff1;
			font-weight: bold;
			display: block;
			height: 30px;
			left: 0;
			margin: 10px 10px 0 10px;
			padding: 5px 10px;
			position: absolute;
			top: 0;
			width: 421px;
		}
		.user-info:after {
			.well-after( 157px; 10px );
		}
		.user-follows {
			padding: 0 15px;
			h5 {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.trending-tags-holder {
			padding: 0 15px;
			h5 {
				font-weight: bold;
				text-transform: uppercase;
			}

			.trending-tags {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.trending-tag {
				display: inline-block;
				margin: 0 5px;
				position: relative;
				vertical-align: top;

				a:hover {
					text-decoration: none;
				}
				// &.followable:hover {
				// 	background: @color-9;
				// 	border-radius: 5px;
				// 	color: white;
				// 	cursor: pointer;
				// 	height: 40px;

				// 	a {
				// 		color: white;
				// 		margin: 0 20px;
				// 	}
				// }
				// &.followable:hover a {
				// 	text-decoration: underline;
				// }
				// &.followable:hover:after {
				// 	background: @color-9;
				// 	border-radius: 5px;
				// 	color: white;
				// 	content: "+seguir";
				// 	display: block;
				// 	padding: 0 10px 0 0;
				// 	text-align: right;
				// }
			}
		}
		.user-history-holder {
			padding: 0 15px;
			h5 {
				font-weight: bold;
				text-transform: uppercase;
			}
			.user-history {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
		.weekly-dateo-holder {
			background: @color-8;
			border-radius: 3px;
			padding: 15px 15px;
			h4 {
				font-weight: bold;
				text-transform: uppercase;
			}
			.datea-btn {
				font-weight: bold;
				position: relative;
				top: -20px;
			}
			.icon-holder {
				margin: 0 25px 0 0;
			}
			.weekly-dateo {
				background: white;
				border-radius: 3px 3px 3px 0;
				margin: 0 0 20px 0;
				padding: 10px;
				position: relative;

				.parts-holder {
					margin: 0 0 8px 0;
				}
				.part-1 {
					width: 60px;

					.user-img {
						height: 48px;
						width: 48px;
					}
				}
				.part-2 {
					width: auto;

					h4 {
						margin: 10px 0 2px 0;
					}
					.date {
						color: @color-6;
					}
				}
				.weekly-dateo-img {
					height: 70px;
					margin: 0 0 10px 0;
					width: 105px;
				}
			}
			.weekly-dateo:after {
				.well-after( 209px; 0px );
			}
		}
	}
}

:-webkit-full-screen #homeSI-map-holder,
:fullscreen #homeSI-map-holder {
	height: 100%;
	width: 100%;
}

//
// Campaign
//

.campaign-holder {
	.campaign-card {
		background-color: @color-9!important;
		background-size: 35% 100%!important;
		background-position: 100% 0!important;
		color: white;
		padding: 35px 0 40px 38px;

		.part-1 {
			width: 340px;

			h1 {
				margin-bottom: 5px;
				font-size: 27px;
				font-weight: bold;
			}
			h2 {
				margin: 0 0 5px 0;
				font-size: 18px;
				font-weight: bold;
			}
		}
		.part-2 {
			width: 200px;

			.form-group {
				position: relative;
				top: 75px;
			}
		}
	}
	.map-holder {
		position: relative;

		.form-group {
			color: black;
			padding: 5px 0 5px 35px;
		}
		.nav-tabs {
			border: none;
			left: 250px;
			position: absolute;
			top: 12px;
			width: 500px;
		}
		.tab-content {
			position: relative;
			top: -15px;

			.dateos-holder {
				background: white;
				height: 450px;
				padding: 0 22px 30px 30px;
				position: relative;
				width: 40%;

				.order-by-holder {
					left: 200px;
					position: absolute;
					width: 250px;

					.form-group {
						left: 110px;
						padding: 0;
						position: absolute;
						width: 200px;
						top: 0px;

						select {
							width: 120px
						}
					}
					.order-by {
						border: none;
						box-shadow: none;
						cursor: pointer;
						-webkit-appearance: none;
						-moz-appearance:    none;
						appearance:         none;
					}
					.order-by-label {
						position: relative;
						top: 7px;
					}
					.select-arrow-down {
						left: 220px;
						position: absolute;
						top: 13px;
					}
				}

				.dateo-description-holder {
					height: 380px;
					position: relative;
					overflow: scroll;
					top: 30px;

					.dateo-description {
						h4 {
							font-weight: bold;
							font-size: 15px;
							margin: 0 0 8px 0;
						}
						.user-img {
							height: 36px;
							width: 36px;
						}
						.part-2 {
							margin: 0 0 0 10px;
							font-size: 10px;
						}
						.tag {
							margin: 0 2px;
						}
						p {
							margin: 10px 0 5px;
						}
						.glyphicon {
							margin: 0 0 0 10px;
						}
					}
				}
			}
			.dateos-with-images-holder {
				height: 600px;

				.dateo-with-image {
					height: 200px;
					position: relative;
					width: 230px;

					.info-holder {
						display: none;
						padding: 10px;
						position: relative;
						z-index: 1;

						.extract {
							font-size: 12px;
							height: 100px;
							overflow: none;
						}
						.part-1 {
							width: 38px;
						}
						.part-2 {
							width: 130px;

							h5 {
								font-size: 14px;
								font-weight: bold;
								margin: 3px 0 0;
							}
							.date {
								color: @color-6;
								font-size: 11px;
							}
						}
						.user-img {
							height: 35px;
							width: 35px;
						}
						.cta-holder {
							span {
								color: @color-12;
							}
							span+span {
								margin: 0 0 0 20px;
							}
						}
					}
					.info-bg {
						background: rgba(255,255,255,0.7);
						display: none;
						height: 100%;
						position: absolute;
						width: 100%;
						z-index: 0;
					}
				}
				.dateo-with-image:hover {

					.info-holder {
						display: block;
					}
					.info-bg {
						display: block;
					}
				}
			}
			.leaflet-map-holder {
				position: relative;
				width: 59%;
			}
		}
	}
	.datea-glyphtab-fix {
		font-size: 20px;
		height: 25px;
		margin: 0 10px 0 0;
		position: relative;
		top: -16px;
		width: 25px;

		a {
			background-color: transparent!important;
			border: none!important;
		}
		.active {
			background-color: @color-8!important;
		}
	}
	.datea-glyphtab-fix:before {
		position: relative;
		top: 16px;
	}
	.extra-info-holder {
		padding: 15px 0;

		.description {
			padding: 0 30px;
			width: 430px;

			.user-info {

				.parts-holder {
					.part-1 {
						padding: 0;
						width: 52px;
					}
					.part-2 {
						width: 150px;

						p {
							margin: 5px 0 5px;
						}
						h3 {
							margin: 5px 0 0;
							font-weight: bold;
						}
					}
					.user-img {
						height: 52px;
						width: 52px;
					}
				}

				h4 {
					color: @color-5;
					font-size: 18px;
				}
				.question {
					color: @color-6;
				}
			}
		}
		.social {
			background: white;
			border-radius: 3px;
			padding: 15px;
			width: 600px;

			h5 {
				font-weight: bold;
				text-transform: uppercase;
			}
			.part-1 {
				border-right: 1px @color-7 solid;
				width: 250px;

				.followers-holder {
					margin: 20px 0;
				}
				.follower-image {
					display: inline-block;
					height: 36px;
					margin: 0 4px 4px 0;
					vertical-align: top;
					width: 36px;

					span {
						display: block;
						height: 100%;
						width: 100%;
					}
				}
				.see-more-peers {
					left: 140px;
					position: relative;
				}
			}
			.part-2 {
				padding: 20px;

				img {
					cursor: pointer;
					margin: 0 10px 0 0;
				}
			}
		}

	}
}

//
// Tag
//

.tag-holder {
	.map-holder {
		position: relative;

		.form-group {
			color: black;
			padding: 5px 0 5px 35px;
		}
		.nav-tabs {
			border: none;
			left: 250px;
			position: absolute;
			top: 12px;
			width: 500px;
		}

		.tab-content {
			position: relative;
			top: -15px;

			.dateos-holder {
				background: white;
				height: 450px;
				padding: 0 22px 30px 30px;
				position: relative;
				width: 40%;

				.order-by-holder {
					left: 200px;
					position: absolute;
					width: 250px;

					.form-group {
						left: 110px;
						padding: 0;
						position: absolute;
						width: 200px;
						top: 0px;

						select {
							width: 120px
						}
					}
					.order-by {
						border: none;
						box-shadow: none;
						cursor: pointer;
						-webkit-appearance: none;
						-moz-appearance:    none;
						appearance:         none;
					}
					.order-by-label {
						position: relative;
						top: 7px;
					}
					.select-arrow-down {
						left: 220px;
						position: absolute;
						top: 13px;
					}
				}

				.dateo-description-holder {
					height: 380px;
					position: relative;
					overflow: scroll;
					top: 30px;

					.dateo-description {
						h4 {
							font-weight: bold;
							font-size: 15px;
							margin: 0 0 8px 0;
						}
						.user-img {
							height: 36px;
							width: 36px;
						}
						.part-2 {
							margin: 0 0 0 10px;
							font-size: 10px;
						}
						.tag {
							margin: 0 2px;
						}
						p {
							margin: 10px 0 5px;
						}
						.glyphicon {
							margin: 0 0 0 10px;
						}
					}
				}
			}
			.dateos-with-images-holder {
				height: 600px;

				.dateo-with-image {
					height: 200px;
					position: relative;
					width: 230px;

					.info-holder {
						display: none;
						padding: 10px;
						position: relative;
						z-index: 1;

						.extract {
							font-size: 12px;
							height: 100px;
							overflow: none;
						}
						.part-1 {
							width: 38px;
						}
						.part-2 {
							width: 130px;

							h5 {
								font-size: 14px;
								font-weight: bold;
								margin: 3px 0 0;
							}
							.date {
								color: @color-6;
								font-size: 11px;
							}
						}
						.user-img {
							height: 35px;
							width: 35px;
						}
						.cta-holder {
							span {
								color: @color-12;
							}
							span+span {
								margin: 0 0 0 20px;
							}
						}
					}
					.info-bg {
						background: rgba(255,255,255,0.7);
						display: none;
						height: 100%;
						position: absolute;
						width: 100%;
						z-index: 0;
					}
				}
				.dateo-with-image:hover {

					.info-holder {
						display: block;
					}
					.info-bg {
						display: block;
					}
				}
			}
			.leaflet-map-holder {
				position: relative;
				width: 59%;
			}
		}
	}
	.datea-glyphtab-fix {
		font-size: 20px;
		height: 25px;
		margin: 0 10px 0 0;
		position: relative;
		top: -16px;
		width: 25px;

		a {
			background-color: transparent!important;
			border: none!important;
		}
		.active {
			background-color: @color-8!important;
		}
	}
	.datea-glyphtab-fix:before {
		position: relative;
		top: 16px;
	}
}

//
// Dateo
//

.dateo-holder {

	.user-holder {
		background: @color-4;
		height: 75px;
		padding: 16px 0 0 31px;

		h4 {
			font-weight: bold;
			margin: 3px 0 0px 0;
		}
		p {
			color: @color-6;
			margin: 0;
		}
		img {
			position: relative;
		}

		.img-holder {
			height: 50px;
			margin: 0 10px 0 0;
		}
		.next-holder {
			a,
			a:hover {
				color: @color-6;
				margin: 0 10px 0 0;
				font-size: 14px;
				text-decoration: none;
			}
		}

	}

	.content-holder {
		background: white;
		border: @color-3 solid 1px;
		padding: 35px 50px;

		.part-1 {
			padding: 10px;
			width: 60%;

			p {
				margin: 15px 0 5px;
			}
			.tag {
				margin: 0 10px 0 0;
			}
		}
		.part-2 {
			padding: 10px;
			width: 39%;
		}

		.social-holder {
			position: relative;
			.share {
				margin-right: 20px;
				position: relative;
				top: -7px;
				width: 200px;
			}
		}
		.denounce-holder {
			text-align: right;
			position: absolute;
			width: 100%;
		}

		.comments-holder {
			h3 {
				font-weight: bold;
				text-transform: uppercase;
			}

			.comment-holder {
				margin: 0 0 30px 0;
				position: relative;
				.user {
					img {
						margin: 0 10px 0 0;
					}
					a {
						color: black;
						margin: 0 5px 0 0;
					}
					.date {
						color: @color-6;
						font-size: 12px;
					}
					.denounce-holder {
						position: absolute;
						width: 100%;
						text-align: right;
					}
				}
			}
		}
	}

	.map-holder {
		h3 {
			text-transform: uppercase;
			font-weight: bold;
		}
		p {
			margin: 10px 0;
		}
	}
}

.datea-glyph-holder {
	display: inline-block;
	vertical-align: top;
	span {
		display: inline-block;
	}
	p {
		font-size: 11px;
		line-height: 10px;
		margin: 0!important;
	}
	p+p {
		color: @color-12;
		font-size: 10px;
	}
	.datea-glyph {
		background: @color-12;
		border-radius: 50%;
		color: white;
		font-size: 15px;
		line-height: 23px;
		text-align: center;
		width: 23px!important;
		top: -2px;
	}
	.datea-glyph-2 {
		background: @color-3;
	}
}

//
// Profile
//
.profile-holder {
	.profile-card {
		padding: 30px 30% 30px;
		position: relative;

		.user-img {
			height: 185px;
			margin: 0 20px 0 0;
			width: 185px;
		}
		.user-extra {
			color: white;
			width: 250px;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

			.votes-count {
				margin: 0 0 20px;
			}
		}
	}
	.social-share {
		position: relative;
		top: -70px;
		right: 20px;
		width: 200px;

	}
	.content-holder {
		.part-1 {
			padding: 0 20px;
			width: 69%;

			.tab-body {
				background: white;
				border: 1px solid;
				border-color: #fff #ddd #ddd;
				border-radius: 3px;
				padding: 15px 25px;

				p {
					margin: 10px 0 0;
				}
				.user-img {
					height: 40px;
					width: 40px;
				}
				.part-2 {
					padding: 4px 0 0;
					margin: 0 0 0 5px;
					width: 200px;

					h4 {
						margin: 0;
						font-weight: bold;
					}
					.date {
						color: @color-6;
						font-size: 11px;
					}
				}
				.social-holder {
					margin: 10px 0 0 0;

					span {
						color: @color-12;
					}
					span+span {
						margin: 0 0 0 10px;
					}
				}
			}
		}
		.part-2 {
			width: 31%;

			h4 {
				text-transform: uppercase;
			}
			.user-history {
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
	}
}

.dateo-detailImg {
	.img-holder,
	img {
		width: 100%;
	}
}

//
// Marker Holder
//
.marker-holder {
	color: @color-6;

	img {
		display: inline-block;
		vertical-align: top;
	}
	.part {
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: top;

		h5 {
			margin: 1px 0 3px 0;
			font-weight: bold;
		}
	}
	p {
		min-width: 280px;
	}
	.datea-glyph {
		position: relative;
		margin: 0 4px 0 0;
		top: 4px;
	}
	.glyphicon-comment {
		margin: 0 4px 0 14px;
	}
	a.datea-btn {
		color: white;
		height: 20px;
	}

}


//
// Media Queries
//
@media (min-width: 768px) {

	header.branding .navbar-collapse {
		width: auto;
	}

}