@import "app/bower_components/bootstrap/less/bootstrap.less";

// input.ng-dirty.ng-invalid {
// 	.form-control-validation(@state-danger-text; @state-danger-text; @state-danger-bg);
// }

.form-group > input.ng-dirty.ng-invalid {
	color: @state-danger-text;
	border-color: @state-danger-text;
	background-color: @state-danger-bg;
}

form.ng-invalid input[type="submit"],
form.ng-valid .btn[disabled] {
	display: none;
}

form.ng-valid input[type="submit"],
form.ng-invalid .btn[disabled] {
	display: inline-block;
}