/*
	Project Name: Datea WebApp
	URI: http://datea.pe/
	Author: Team Datea
	Author URI: 
	Description: Module CSS for Datea.pe
	Version: 1.0
	Tags: datea, información, participación ciudadana, comparte...
*/

// Colors
@color-selection: #b3d4fc; // light blue
@color-1: #EDFF00; // yellow
@color-2: #8B00A4; // purple
@color-3: #D3DAD7; // map frame grey
@color-4: #EFF2F0; // bg grey
@color-5: #28BC45; // green
@color-6: #5E6E66; // text grey
@color-7: #E9EDEB; // well grey
@color-8: #EAFF74; // well important
@color-9: #5E6E66; // followable tag hover
@color-10: #909E97; // signin signup grey bg
@color-11: #231F20; // footer brown
@color-12: #28BC45; // green

.datea-button-variant(@color; @background; @border; @hover) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    background-color: @hover;
        border-color: darken(@hover, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: #fff;
  }
}

.datea-label-variant(@color) {
  background-color: @color;
  &[href] {
    &:hover,
    &:focus {
      background-color: darken(@color, 10%);
    }
  }
}

/* ==========================================================================
   Buttons
========================================================================== */

@datea-brand-btn:  #151415;
@datea-datear-btn: #8B00A4;

@datea-btn-hover:  #28BC45;
@datea-btn-color:  #fff;
@datea-btn-bg:     @datea-brand-btn;
@datea-btn-border: darken(@datea-btn-bg, 5%);

@datea-datear-btn-hover:  darken(@datea-datear-btn, 10%);
@datea-datear-btn-color:  #fff;
@datea-datear-btn-bg:     @datea-datear-btn;
@datea-datear-btn-border: darken(@datea-datear-btn-bg, 5%);

.datea-btn {
  .datea-button-variant(@datea-btn-color; @datea-btn-bg; @datea-btn-border; @datea-btn-hover);
  padding-top: 10px;
  text-transform: uppercase;
}

.datea-datear-btn {
	.datea-button-variant(@datea-datear-btn-color; @datea-datear-btn-bg; @datea-datear-btn-border; @datea-datear-btn-hover);
	padding-top: 10px;
	text-transform: uppercase;
}

.datea-btn-nopad {
  .datea-button-variant(@datea-btn-color; @datea-btn-bg; @datea-btn-border; @datea-btn-hover);
  text-transform: uppercase;
}

.datea-btn-xs {
	height: 17px;
	padding-top: 0;
}

.datea-tag-btn {
	background: none;
	border: none;
}

/* ==========================================================================
   Labels
========================================================================== */

@datea-label-bg: @datea-btn-hover;

.datea-label {
	.datea-label-variant(@datea-label-bg);
	padding-top: 5px;
	text-transform: lowercase;
}

/* ==========================================================================
   Wells
========================================================================== */

.well-after( @top; @left ) {
	background: url('@{imgUrl}globals/well-after-bg.png') no-repeat;
	content: "";
	height: 24px;
	left: @left;
	position: absolute;
	top: @top;
	width: 26px;
}

//
// Glyphs
//

.datea-glyph {
	background: @color-12;
	border-radius: 50%;
	color: white;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	width: 23px!important;
	top: -2px;
}
.datea-glyph-2 {
	background: @color-3;
	cursor: pointer;
}