/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.eot");
  src: url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.woff") format("woff"),
       url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.ttf") format("truetype"),
       url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_6d771ff70924fd5bb433e8bf1ee1f38b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-barras:before,
.icon-burbuja:before,
.icon-camara:before,
.icon-lista:before,
.icon-loading:before,
.icon-pin1:before,
.icon-pin2:before,
.icon-reloj:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-barras:before { content: "\f10b"; }
.icon-burbuja:before { content: "\f10c"; }
.icon-camara:before { content: "\f10d"; }
.icon-lista:before { content: "\f10e"; }
.icon-loading:before { content: "\f112"; }
.icon-pin1:before { content: "\f10f"; }
.icon-pin2:before { content: "\f111"; }
.icon-reloj:before { content: "\f110"; }
