<div class="change-password-holder">
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
			<div class="form-holder" da-loading="flow.loading" ng-hide="flow.changeSuccess !== null">
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
				<h3>Ingresa tu nueva contraseña</h3>
				<form role="form" name="form" class="form" ng-submit="flow.savePasswd()">
					<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.password]">
						<label class="control-label" for="password">Contraseña</label>
						<input type="password" class="form-control" id="password" wx-validate="password" required="" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.password" ng-change="flow.checkPassword()">
						<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.password]" ng-show="flow.validInput.password !== null"></span>
						<p class="help-block">Mínimo 6 letras y mínimo 1 número</p>
					</div>
					<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.samePassword]">
						<label class="control-label" for="samePassword">Repetir contraseña</label>
						<input type="password" class="form-control" id="samePassword" wx-validate="password" required="" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.samePassword" wx-password-match="auth.password" ng-change="flow.checkSamePassword()">
						<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.samePassword]" ng-show="flow.validInput.samePassword !== null"></span>
					</div>
					<input type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" value="Cambiar">
					<button type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" disabled="disabled">Cambiar</button>
				</form>
			</div>
			<div class="form-holder" ng-show="flow.changeSuccess === true">
				<h3>Tu clave ha sido cambiada!</h3>
				<p>Ahora puedes ingresar con tu usuario y clave:</p>
				<a class="btn btn-success btn-lg" href="/signin">INGRESAR</a>
			</div>
			<div class="form-holder" ng-show="flow.changeSuccess === false">
			 	<h3>Hmmm, hubo un error</h3>
			 	<div class="alert alert-warning">Lo sentimos. Este formulario para cambiar tu clave ha expirado. Para generar otro, tenemos que mandarte nuevamente un correo con un nuevo enlace.</div>
			 	<a href="/signin" class="btn btn-default btn-lg">Empezar de nuevo</a>
			</div> 
		</div>
	</div>
</div>
<div class="graydark-bg"></div>