<div class="dateos-admin-holder">
	<nav class="navbar navbar-default campaign-form-nav admin-nav" ng-class="{fix: flow.fixMenu}">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-25 col-md-25 col-lg-25">
					<a class="btn campaign-back-btn btn-link" href="/{{campaign.user.username}}/{{campaign.slug}}"><span class="glyphicon glyphicon-chevron-left"></span> Volver a la iniciativa</a>
				</div>
				<div class="col-xs-95 col-md-95 col-lg-95">
					<div class="list-actions" ng-hide="flow.showDetail">
						<div class="num-results" ng-hide="flow.loading">
							dateos del <span class="num">{{(query.page -1)*query.itemsPerPage}}</span> al 
							<span class="num" ng-show="query.totalCount < query.itemsPerPage">{{query.totalCount}}</span>
							<span ng-show="query.totalCount > query.itemsPerPage">
								<span class="num">{{query.itemsPerPage}}</span> de <span class="num">{{query.totalCount}}</span>
							</span>
						</div>
					</div>
					<div class="detail-actions" ng-show="flow.showDetail">
						<button class="btn btn-default" ng-click="flow.closeDateo()"><span class="glyphicon glyphicon-chevron-left"></span> Cerrar</button>
						<div class="form-inline set-status-control">
							<div class="form-group">
								<label class="control-label">Marcar como:</label>
								<label class="radio-inline">
									<input type="radio" name="dateoStatus" value="new" checked="checked" ng-change="flow.setDateoStatus()" ng-model="flow.dateoStatus"> Nuevo
								</label>
								<label class="radio-inline">
									<input type="radio" name="dateoStatus" value="reviewed" ng-change="flow.setDateoStatus()" ng-model="flow.dateoStatus"> Atendido
								</label>
								<label class="radio-inline">
									<input type="radio" name="dateoStatus" value="solved" ng-change="flow.setDateoStatus()" ng-model="flow.dateoStatus"> Solucionado
								</label>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</nav>

	<div class="admin-container container-fluid" ng-class="{fix: flow.fixMenu}">
		<div class="row">

			<div class="col-xs-25 col-md-25 col-lg-25 query-control-col">
				<div class="inner query-controls">
					<div class="bg"></div>
					<div class="form-group search-field">
						<label class="sr-only">Buscar</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-model="query.search" placeholder="buscar frase" ng-enter="flow.getDateos()">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-search" ng-click="flow.getDateos()"></i></button>
							</span>
						</div>
					</div>

					<div class="form-group tag-field">
						<label for="select-tag">Filtrar por etiqueta</label>
						<select class="form-control" ng-model="query.tag" ng-options="item.value as item.label for item in query.tagFilterOptions" ng-change="flow.getDateos()"></select>
					</div>

					<div class="form-group status-field">
						<label for="select-status">Filtrar por estado</label>
						<select class="form-control" ng-model="query.status" ng-change="flow.getDateos()">
							<option value="all" selected="selected">-- todos los estados --</option>
							<option value="new">Nuevos dateos</option>
							<option value="reviewed">Dateos atendidos</option>
							<option value="solved">Dateos solucionados</option>
						</select>
					</div>

					<div class="form-group date-field">
						<label>filtrar fecha</label>
						<div class="form-inline">
							<label>del</label>
							<input type="text" class="form-control since" ng-model="query.since" datepicker-popup="yyyy/MM/dd" is-open="flow.sincePopup" ng-focus="flow.sincePopup = true" ng-change="flow.getDateos()">
						</div>
						<div class="form-inline">
							<label>al</label>
							<input type="text" class="form-control until" ng-model="query.until" datepicker-popup="yyyy/MM/dd" is-open="flow.untilPopup" ng-focus="flow.untilPopup = true" ng-change="flow.getDateos()">
						</div>
					</div>
					<!--
					<div class="query-actions">
						<button class="btn btn-default" ng-click="flow.getDateos()">Aplicar</button>
					</div>-->
				</div>
			</div>

			<div class="col-xs-95 col-md-95 col-lg-95 dateo-list-col" da-loading="flow.loading">
				<div class="dateo-detail-admin" ng-if="flow.showDetail">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-8 detail-inline-col">
								<da-dateo-detail-inline dateo="flow.dateo" map-present="false"></da-dateo-detail-inline>
							</div>
							<div class="col-xs-4">
								<div class="map" ng-if="flow.leaflet.markers">
									<leaflet id="leafletDateo" defaults="flow.leaflet.defaults" markers="flow.leaflet.markers" center="flow.leaflet.center" height="260px" width="100%" tiles="flow.leaflet.tiles"></leaflet>
								</div>
								<p ng-show="dateo.address">{{dateo.address}}</p>
								<p ng-show="dateo.admin_level1">{{dateo.admin_level1}} > {{dateo.admin_level2}} > {{dateo.admin_level3}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="dateo-list" ng-hide="flow.showDetail">
					<div class="table-responsive" ng-hide="campaign.dateos.length === 0">
						<table class="table table-striped dateos-table">
							<thead>
								<tr>
									<th>#</th>
									<th>Etiquetas</th>
									<th>Extracto</th>
									<th>Usuario</th>
									<th>Creado</th>
									<th></th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<tr class="dateo-listed" ng-repeat="dateo in campaign.dateos" ng-click="flow.openDateo($index)">
									<td class="id">{{dateo.id}}</td>
									<td class="tags"><div class="inner"><span class="tag label" ng-repeat="tag in dateo.tags | filter: '!'+campaign.main_tag.tag">#{{tag.tag}}</span></div></td>
									<td class="extract">{{dateo.extract}}</td>
									<td class="username">{{dateo.user.username}}</td>
									<td class="created">{{dateo.created | date:dateFormat}}</td>
									<td class="media">
										<i class="fa fa-camera" ng-show="dateo.images.length"></i>
										<i class="fa fa-paperclip" ng-show="dateo.files.length"></i>
										<i class="fa fa-link" ng-show="dateo.link"></i>
									</td>
									<td class="status"><span class="label" ng-class="{'label-success': dateo.status === 'solved', 'label-info': dateo.status === 'reviewed'}" ng-show="dateo.status !== 'new'">{{query.statusOptions[dateo.status]}}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="no-results" ng-show="campaign.dateos.length === 0 && !flow.loading"><i class="fa fa-meh-o"></i> No se encontraron resultados.</div>
					<pagination ng-show="query.totalCount > query.itemsPerPage && !flow.loading" boundary-links="true" items-per-page="query.itemsPerPage" total-items="query.totalCount" page="query.page" class="pagination pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="10"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>