<div class="static-info-holder">
	<div class="content-holder container">
		<div class="row">
			<div class="col col-xs-12 col-md-8 main-col">
				<div class="main-content">

	<h1 class="ff1">POLITICA DE PRIVACIDAD</h1>

	

	<p>El presente documento contiene la Política de Privacidad de DATEA,
	respecto de la recolección, uso, manejo y disposición de datos e
	información recibidos de los Usuarios de la Plataforma Web de DATEA:
	<a href="http://www.datea.pe">www.datea.pe</a>&nbsp;(en 
	adelante, la “Plataforma”) que es administrada por LA FACTURA
	SAC (en adelante, “EL ADMINISTRADOR”), de acuerdo a los términos
	establecidos en las Condiciones Generales, la Guía Datea y los demás
	avisos, reglamentos de uso e instrucciones puestos en su conocimiento, o
	que sean aplicables a las herramientas ofrecidas por otras plataformas web
	utilizadas o enlazadas a DATEA. &nbsp;</p>

	<p>La presente Política de Privacidad de DATEA se aplica únicamente a
	la información proporcionada por los Usuarios a través de la Plataforma Web
	y sus Servicios.</p>

	<p>La Política de Privacidad puede ser actualizada periódicamente,
	por lo cual, es responsabilidad del Usuario leer este documento atentamente
	en cada una de las ocasiones que se utilice la Plataforma Web y sus
	Servicios, ya que &nbsp;puede sufrir modificaciones. Salvo indicación en
	contrario, los términos utilizados en la presente Política de Privacidad
	&nbsp;tienen el mismo significado que se les asigna en las Condiciones
	Generales de uso de la Plataforma Web DATEA.</p>

	<h3>1. ACEPTACIÓN</h3>

	

	<p>La utilización de la Plataforma Web y/0 de sus Servicios por
	cualquier persona mayor de catorce (14) años, implica el consentimiento,
	aceptación y sometimiento pleno y sin reservas a los términos de la
	presente Política de Privacidad, respecto de la recolección, uso, manejo y
	disposición de datos e información que se proporcione a través de la
	Plataforma Web DATEA, en la versión publicada por EL ADMINISTRADOR en el
	momento mismo en que el Usuario acceda a la misma.</p>

	

	

	<h3>2. INFORMACIÓN RECABADA O SOLICITADA AL
	USUARIO</h3>


	<p>2.1. Información de Registro</p>

	

	<p>Al momento que se realiza el Registro de un Usuario, la Plataforma
	Web solicitará ciertos datos o información, parte de la cual puede ser
	considerada como información personal en la medida que se refiere a la
	identidad del Usuario y podría permitir su identificación y contacto. En
	general, la información solicitada para efectuar el registro de un nuevo
	Usuario, podría incluir, aunque no se limita a:</p>

	

	<p>- Nombres y apellidos (facultativo)</p>

	<p>- Edad (obligatorio)</p>

	<p>- Nombre de usuario (obligatorio)</p>

	<p>- Correo electrónico (obligatorio)</p>

	<p>- Fotografía o avatar (facultativo)</p>


	<p>Es importante resaltar que la Plataforma Web permite que el
	Usuario se registre o acceda a ella desde otras plataformas, como sus
	cuentas de Facebook o Twitter. En tales casos, dichas plataformas
	solicitarán al Usuario su autorización para compartir con la Plataforma Web
	de DATEA cierta información, la cual puede incluir datos de carácter
	personal (por ejemplo, nombres y apellidos del Usuario, su edad,
	localización, cumpleaños, imágenes o fotos de su perfil, sus "likes" y su
	lista de amigos, entre otros).</p>

	

	<p>Dado que la información relativa a las cuentas de Facebook o
	Twitter que se comparte a la Plataforma Web de DATEA se encuentra regidas
	por la política de privacidad establecida en dichas redes sociales, el
	Usuario asume la responsabilidad de establecer filtros o restricciones a su
	privacidad, realizando los ajustes correspondientes en sus cuentas de
	Facebook o Twitter.</p>

	

	

	<p>2.2. Información referida a una iniciativa de mapeo
	participativo</p>

	

	<p>La utilización de la Plataforma Web y los Servicios por parte del
	Usuario, otorgará a EL ADMINISTRADOR acceso a información referida al
	contenido de la iniciativa de mapeo participativo en la que participen, sea
	como administrador o seguidor (por ejemplo, su localización, la hora en que
	fue realizada, el contenido e imágenes del dateo). Cuando dicho acceso se
	realice a través de otras plataformas (como por ejemplo, redes sociales),
	EL ADMINISTRADOR podría acceder también la información proporcionada o
	almacenada en ellas por el Usuario. Por ejemplo, si dicho acceso se realiza
	desde una cuenta de correo electrónico, EL ADMINISTRADOR podría acceder a
	su lista de contactos; si lo hace desde una cuenta de Twitter, podría
	acceder a su lista de seguidores; y si lo hace a través de una cuenta de
	Facebook, podría acceder a su lista de amigos.</p>

	

	<p>Dado que la Plataforma Web de DATEA permite que el Usuario acceda
	a ella desde otras plataformas, como sus cuentas de Facebook o Twitter, la
	información referida a su actividad en la Plataforma Web de DATEA (por
	ejemplo, mediante su actividad en una iniciativa de mapeo participativo,
	como administrador o seguidor) se compartirá automáticamente a tales
	plataformas, y podría ser visible y accesible a terceros, al aparecer en su
	muro o en la sección de noticias (newsfeed) de Facebook, o bien como un
	tweet en Twitter. El Usuario puede controlar el acceso a dicha información,
	y establecer filtros y restricciones a su privacidad, desde sus cuentas de
	Facebook o Twitter.</p>

	

	<p>2.3. Información del dispositivo</p>

	

	<p>La utilización de la Plataforma Web y los Servicios por parte del
	Usuario, podría otorgar a EL ADMINISTRADOR &nbsp;acceso a información
	vinculada a las características del dispositivo desde el cual se realiza la
	navegación. Esta información puede incluir datos acerca del modelo de
	dispositivo, tipo y versión de navegador, dirección de IP (Internet´s
	Protocol), historial de navegación, tiempo de navegación, la localización
	del Usuario mientras la aplicación de DATEA se encuentre abierta, entre
	otra información de similar naturaleza, así como datos
	estadísticos.</p>

	

	<p>Mediante el presente documento queda claramente establecido que
	mediante el acceso y utilización de la Plataforma Web DATEA y sus
	Servicios, el Usuario expresa su consentimiento y autorización para que la
	información indicada anteriormente, incluyendo aquella de naturaleza
	personal, sea objeto de tratamiento para el cumplimiento de la finalidad de
	dicha Plataforma Web y sus Servicios, que se describen en la presente
	Política de Privacidad.&nbsp;</p>

	

	<p>Sin perjuicio de ello, el Usuario reconoce expresamente que es su
	decisión y responsabilidad la revelación y exposición pública de datos,
	sean de tipo personal o no, que no sean requeridos por la Plataforma Web
	DATEA y sus Servicios. En tales casos, el Usuario acepta expresamente que
	no existe obligación de EL ADMINISTRADOR de implementar algún mecanismo de
	seguridad o de protección de dicha información, más allá de lo señalado en
	la presente Política de Privacidad y en la legislación vigente.</p>

	

	<p>Finalmente, el Usuario reconoce y acepta que EL ADMINISTRADOR no
	asume responsabilidad ni garantiza que la información proporcionada a la
	Plataforma Web DATEA a través de las “iniciativas de mapeo participativo”
	sea efectivamente utilizada para el cumplimiento de los fines enunciados en
	ellas por sus administradores.</p>

	

	<h3>3. USO DE LA
	INFORMACIÓN&nbsp;</h3>

	

	<p>El Usuario declara conocer y acepta de manera expresa el
	tratamiento de los datos e &nbsp;información solicitada, proporcionada por
	éste, o la información a la que EL ADMINISTRADOR haya tenido acceso
	respecto del Usuario, autorizando que sea utilizada para los siguientes
	fines:</p>

	

	<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para efectuar el
	Registro de Usuario en la Plataforma Web.</p>

	

	<p>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para administrar
	y ejecutar los Servicios proporcionados por la Plataforma Web y permitir su
	uso por parte del Usuario.</p>

	

	<p>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para implementar
	el monitoreo de uso, supervisión y mejora de la Plataforma Web y sus
	Servicios.</p>

	

	<p>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para enviar
	notificaciones al Usuario o sus contactos acerca de la Plataforma Web y sus
	Servicios.</p>

	

	<p>- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para contactar
	al Usuario y/o enviarle información acerca de novedades, promociones,
	nuevos Servicios, nuevos proyectos de EL ADMINISTRADOR o cualquier otra
	información que pueda ser de su interés. Si el Usuario no desea recibir
	dicha información, puede enviar un correo electrónico a
	<a href="mailto:contacto@datea.pe">contacto@datea.pe</a>&nbsp;y
	solicitar su exclusión, indicando como asunto "Unsubscribe
	DATEA"</p>

	

	<h3>4. COOKIES</h3>

	

	<p>Al igual que otras plataformas web, la Plataforma Web de DATEA
	utiliza "cookies" para recolectar información del Usuario. Los "cookies"
	son pequeños archivos que se instalan en el disco duro del dispositivo del
	Usuario y almacenan la información recolectada. EL ADMINISTRADOR podría
	utilizar "cookies" para mejorar la experiencia del Usuario en la Plataforma
	Web y sus Servicios o para monitorear su uso por parte de los Usuarios. Si
	el Usuario decide no aceptar su uso, podría no tener acceso a algunas
	porciones o funcionalidades de la Plataforma Web y/o de sus
	Servicios.</p>

	

	<h3>5. PHISHING</h3>

	

	<p>EL ADMINISTRADOR &nbsp;no solicita ni solicitará al Usuario, bajo
	ningún concepto o modalidad, información de carácter financiero, como por
	ejemplo, los datos de identificación de cuentas o tarjetas bancarias.
	Asimismo, tampoco solicitará información relativa al documento de identidad
	del Usuario, ni ninguna otra información de similar naturaleza, a fin de
	proteger su identidad.</p>

	

	<h3>6. ACCESO A LA INFORMACIÓN POR PARTE DE
	TERCEROS</h3>

	

	<p>El Usuario reconoce y acepta que los datos e información
	proporcionada a EL ADMINISTRADOR a través de la Plataforma Web y/o de sus
	Servicios, sea personal o no, podría ser vista por terceros que accedan o
	participen en una iniciativa de mapeo participativo.</p>

	

	<p>En esa medida, el Usuario autoriza expresamente a EL ADMINISTRADOR
	a exhibir la información descrita en los numerales 2.1. y 2.2 a través de
	la Plataforma Web y /o de sus Servicios, y reconoce que es su
	responsabilidad tomar las precauciones necesarias para salvaguardar sus
	derechos cuando proporcione o exhiba información personal no solicitada por
	la Plataforma Web y sus Servicios, así como cuando proporcione información
	solicitada con carácter facultativo.</p>

	

	<p><a id="h.gjdgxs" name="h.gjdgxs"></a>Asimismo, el Usuario autoriza
	a EL ADMINISTRADOR a compartir dicha información con los miembros de su
	staff, empleados, agentes, contratistas, asesores profesionales,
	proveedores o socios comerciales (lo que incluye brindar asistencia en
	marketing, investigación de mercado, servicios al cliente, o administrar la
	ejecución de los Servicios de la Plataforma Web) siempre que ello sea
	necesario para el cumplimiento de los fines señalados en el presente
	documento.</p>

	

	<p>Cuando ello ocurra, EL ADMINISTRADOR se compromete a celebrar con
	tales terceros, acuerdos que garanticen que éstos no utilizarán la
	información para fines distintos a los estipulados en el presente
	documento, y que obliguen a éstos a sujetarse a los parámetros de
	confidencialidad descritos en la presente Política de
	Privacidad.</p>

	

	<p>Finalmente, el Usuario reconoce y acepta que EL ADMINISTRADOR
	podrá divulgar la información proporcionada por éste, cuando ello sea
	necesario para cumpli5r con un mandato legal o judicial, o cuando sea
	necesario para ejercer la defensa de un derecho.</p>

	

	<h3>7. ENLACES</h3>

	

	<p>La Plataforma Web de DATEA, puede contener enlaces a otros sitios
	web, pero ello no implica que EL ADMINISTRADOR pueda ejercer control sobre
	éstos, ni que asuma frente al Usuario las políticas de privacidad y
	condiciones de uso de sitios web administrador por terceros. Tales sitios
	web podrían instalar sus propias "cookies" en el dispositivo del Usuario, y
	recopilar información o datos, de carácter personal o no. El Usuario
	reconoce que otros sitios web ajenos a la Plataforma Web de DATEA pueden
	tener otras reglas para el manejo, tratamiento y divulgación de la
	información que solicitan, y que es su responsabilidad revisar las reglas
	de los otros sitios web que visite. La presente Política de Privacidad
	solamente se aplicará a la información o datos proporcionados o
	recolectados a través de la Plataforma Web de DATEA y/o mediante el uso de
	sus Servicios.</p>

	

	<h3>8. ACCESO, HISHING</h3>

	

	<p>EL ADMINISTRADOR &nbsp;no solicita ni solicitará al Usuario, bajo
	ningún concepto o modalidad, información de carácter financiero, como por
	ejemplo, los datos de identificación de cuentas o tarjetas bancarias.
	Asimismo, tampoco solicitará información relativa al documento de identidad
	del Usuario, ni ninguna otra información de similar naturaleza, a fin de
	proteger su identidad.</p>

	

	<h3>9. EJERCICIO DE DERECHOS POR PARTE DEL
	USUARIO</h3>


	<p>El Usuario tiene derecho a conocer a la información que sobre su
	persona se almacene en la Plataforma Web de DATEA, así como a acceder a
	ella, rectificarla, cancelarla, oponerse a su uso, y a exigir que sea
	objeto de tratamiento objetivo. Para el ejercicio de tales derechos, el
	Usuario se sujetará al procedimiento establecido en la Ley N° 29733, Ley de
	Protección de Datos Personales y su Reglamento.</p>

	

	<p>Para efectos del ejercicio de sus derechos, el Usuario podrá
	dirigirse a la siguiente persona, en su calidad de responsable del
	tratamiento de datos e información:</p>

	

	<p>(indicar nombre y apellidos del responsable/ dirección/ dirección
	electrónica)</p>

	</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="sidebar-content">
					
				</div>
			</div>
		</div>
	</div>
</div>