<div class="signup-holder login-form">
	<div class="graydark-bg"></div>
	<div class="container z2">
		<div class="signup">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row form-wrap login-form-inner">
						<div class="col-xs-12 col-md-8 main-content">
							<div class="inner">
								<h1>Únete a Datea!</h1>
								<h4 class="subheading">Comienza a compartir datos útil con tu comunidad</h4>
								
								<div class="row">
									<div class="register-btns">
										<div class="col-xs-=12 col-sm-9">
											<button class="btn btn-social btn-facebook btn-block btn-lg" ng-click="flow.withFacebook()" analytics-on="click" analytics-event="LoginFB"><i class="fa fa-facebook"></i>Ingresar con Facebook</button>
										</div>
										<div class="col-xs-12 col-sm-9">
											<button class="btn btn-social btn-twitter btn-block btn-lg" ng-click="flow.withTwitter()" analytics-on="click" analytics-event="LoginTW"><i class="fa fa-twitter"></i>Ingresar con Twitter</button>
										</div>
										<div class="col-xs-12 col-sm-9">
											<button class="btn datea-green-btn btn-block btn-social btn-block btn-lg" ng-click="flow.withEmail()" analytics-on="click" analytics-event="LoginDatea"><i class="fa fa-envelope-o"></i>Registra tu cuenta en Datea</button>
										</div>
									</div>
								</div>
								<p>[No publicamos en tus cuentas sin tu permiso]</p>
							</div>
						</div>
						<div class="hidden-xs hidden-sm col-md-4 sidebar">
							<div class="inner">
								<div class="well">
									<p>Ya eres dater@?</p>
									<button class="btn datea-btn" ng-click="flow.signIn()">Ingresa</button>
								</div>
								<div class="extra">
									<a href="/">
										<p>¿Por qué registrar una cuenta en Datea?</p>
									</a>
									<a href="/">
										<p>¿A quién le pertenece la información que publico en datea?</p>
									</a>
									<a href="/acerca/privacidad">
										<p>Información sobre privacidad</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>