<div class="tag-holder ff1">
	<div class="tag-card container-fluid clearfix">
		<div class="sub-title">Etiqueta</div>
		<h2 class="title pull-left" ng-click="flow.dateoDetail.show = false">#{{tag.tag}}</h2>
		<div class="stats pull-left">
			<span class="dateo-count">{{tag.dateo_count}} <ng-pluralize count="tag.dateo_count" when="{'one': 'dateo','other':'dateos'}"></span>
			<span class="follow-count" ng-show="tag.follow_count > 0">{{tag.follow_count}} <ng-pluralize count="tag.follow_count" when="{'one': 'seguidor','other':'seguidores'}"></span>
			<a href="" ng-click="flow.scrollToCampaigns($event)" class="campaign-count" ng-show="campaignsInTag">{{campaignsInTag.length}} <ng-pluralize count="campaignsInTag.length" when="{'one': 'iniciativa','other':'iniciativas'}"></a>
		</div>
		<div class="buttons pull-left">
			<da-follow follow-obj="tag" follow-id="{{tag.id}}"></da-follow>
			<datear-btn></datear-btn>
			<div class="share-btn">
				<div class="datea-glyph-holder hover-enabled" ng-click="flow.share()">
					<i class="fa fa-share-alt"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="viz-holder">
		<div class="viz-nav">

			<div class="menu-right">

				<div class="viz-view-nav" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-hide="flow.showFilter">
					<a ng-class="{active: query.tab == 'map'}" class="daicon icon-pin2 datea-glyphtab-fix ng-isolate-scope" ng-click="flow.openTab('map')"></a>
					<a ng-class="{active: query.tab == 'images'}" class="daicon icon-camara datea-glyphtab-fix ng-isolate-scope" ng-click="flow.openTab('images')"></a>
				</div>

			</div>

			<div class="search">
				<form class="form search-form">
					<!--<div class="form-group">-->
						<div class="input-group">
							<input type="text" class="form-control" ng-model="query.q" ng-enter="flow.doSearch()">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="flow.doSearch()"><i class="fa fa-search"></i></button>
							</span>
						</div>
					<!--</div>-->
				</form>
				<div class="filter-control" ng-click="flow.showFilter = !flow.showFilter">
			  	<div class="filter-toggle-link" ng-class="{active: flow.showFilter}"><i class="fa fa-filter"></i></div>
			  	<div class="query-text" ng-hide="flow.showFilter">
			  		viendo: <span class="query-text-item" ng-repeat="text in flow.queryTextRep" ng-bind-html="text"></span>
			  	</div>
			  </div>
			</div>

			<div class="filter-holder" ng-show="flow.showFilter">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
							<div class="date-filter query-item">
								<div class="form-group">
									<label>filtrar fecha</label>
									<div class="form-inline">
										<label>del</label>
										<input type="text" class="form-control since" ng-model="query.since" datepicker-popup="yyyy/MM/dd" is-open="flow.sincePopup" ng-focus="flow.sincePopup = true">
										<label>al</label>
										<input type="text" class="form-control until" ng-model="query.until" datepicker-popup="yyyy/MM/dd" is-open="flow.untilPopup" ng-focus="flow.untilPopup = true">
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-5 col-md-5 col-lg-5">
							<!--<h4>Filtros:</h4>-->
							<div class="apply">
								<div class="limit-slider query-item">
									<div class="form-group">
										<label>Cargar {{flow.limitLabel}} dateos</label>
										<div class="slider">
											<input type="range" name="points" min="50" max="500" step="50" ng-model="query.limit"> 
										</div>
									</div>
								</div>
								<div class="orderby-control query-item">
									<div class="form-group">
										<label>Ordenar por</label>
										<select class="form-control" ng-model="query.order_by" ng-options="opt.val as opt.label for opt in flow.orderByOptions"></select>
									</div>
								</div>
								<button class="btn btn-lg btn-success pull-left apply-btn" ng-click="flow.doSearch()">APLICAR</button> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="viz-viewer" da-loading="flow.loading">
			<div class="protect-cover" ng-show="flow.showFilter" ng-click="flow.showFilter = false"></div>
			
			<div class="viz-view viz-view-map" ng-if="query.tab == 'map'">
				<div class="container-fluid dateo-map-viz">
					<div class="row">
						<div class="col-xs-12 col-sm-45 col-md-45 dateos-holder">
							<div class="dateo-detail-content-holder" ng-show="flow.dateoDetail.show">
								<da-dateo-detail-inline dateo="flow.dateoDetail.dateo" marker-index="flow.dateoDetail.markerIndex" main-tag="tag.tag"></da-dateo-detail-inline>
							</div>
							<div class="dateo-description-holder" ng-hide="flow.dateoDetail.show">
								<div class="teaser-list">
									<da-dateo-teaser ng-repeat="dateo in tag.dateos | limitTo:flow.dateoShowListNumResults" main-tag="tag.tag"></da-dateo-teaser>
								</div>
								<p class="dateos-more-results" ng-show="tag.dateos.length > flow.dateoShowListNumResults">
									<button class="btn btn-default btn-lg" ng-click="flow.showMoreListResults()">Ver más resultados</button>
								</p>
								<div class="no-results" ng-show="!tag.dateos.length && !flow.loading">No hay resultados <i class="fa fa-meh-o"></i></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-75 col-md-75 leaflet-map-holder">
							<leaflet id="leafletTag" events="flow.leaflet.events" defaults="flow.leaflet.defaults" markers="flow.leaflet.markers" center="flow.leaflet.center" width="100%" cluster-options="flow.leaflet.clusterOptions" tiles="flow.leaflet.tiles"></leaflet>
						</div>
					</div>
				</div>
			</div>
			<div class="viz-view viz-view-images" ng-if="query.tab== 'images'">
				<div class="dateo-thumbs-holder">
					<da-dateo-thumb ng-repeat="image in tag.dateoImages"></da-dateo-thumb>
				</div>
				<div class="no-results" ng-show="!tag.dateoImages.length && !flow.loading">No hay resultados <i class="fa fa-meh-o"></i></div>
			</div>
		</div>
	</div>
	<div id="campaigns" class="campaign-teasers" ng-show="campaignsInTag">
		<div class="container-fluid">
			<h3>Iniciativas en esta etiqueta</h3>
			<div class="campaign-list row">
				<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-repeat="campaign in campaignsInTag">
					<da-campaign-teaser></da-campaign-teaser>
				</div>
			</div>
		</div>
	</div>
</div>