<div class="static-info-holder">
	<div class="content-holder container">
		<div class="row">
			<div class="col col-xs-12 col-md-8 main-col">
				<div class="main-content">

	<h1 class="ff1">CONDICIONES GENERALES DE USO</h1>

	<p>DATEA es un proyecto de iniciativa ciudadana desarrollado por LA
	FACTURA SAC en el que participan distintos profesionales de organizaciones
	de la sociedad civil. Este proyecto consiste en una plataforma web para el
	mapeo participativo virtual en el que entidades gubernamentales,
	organizaciones de la sociedad civil e individuos pueden participar de las
	siguientes maneras:</p>

	<p>(i) Generando y administrando una “acción de mapeo participativo”
	en temas de interés ciudadano, utilizando las herramientas de la Plataforma
	Web, para recibir, responder, etiquetar, compartir, difundir, monitorear y
	en general gestionar información proporcionada por otros Usuarios,
	destinándola a los fines enunciados en ésta.</p>

	<p>(ii) Proporcionando información sobre problemas específicos a
	través de “acciones de mapeo participativo” previamente existentes,
	compartiéndola y/o apoyándola a través de las herramientas admitidas por la
	plataforma web, a fin de que sea recogidas y gestionadas por el Usuario
	administrador de dicha acción.</p>

	<p>De ambas maneras, los ciudadanos contribuyen al diagnóstico de los
	principales problemas de interés, a su mejoramiento cotidiano y participan
	activamente en el proceso de transformación cultural, en ejercicio de su
	derecho a participar en la vida política, económica, social y cultural de
	la nación, recogido en el inciso 17 del artículo 2 de la Constitución
	Política del Perú de 1993.</p>

	<p>DATEA buscar ser una herramienta que permita generar y canalizar
	acciones de participación ciudadana propositiva y que contribuya a través
	del debate público de ideas, a mejorar la calidad de vida en la ciudad de
	Lima. La plataforma de DATEA es una herramienta para que los ciudadanos
	sean agentes proactivos en la transformación de la cultura ciudadana en el
	uso de la ciudad y el espacio público.</p>

	

	<h3> 1. ACEPTACIÓN</h3>


	<p>El presente documento (en adelante, las "Condiciones Generales")
	regulan los términos y las condiciones de uso de la Plataforma Web de DATEA
	:&nbsp; <a class="c8" href="http://datea.pe">www.datea.pe</a> &nbsp;(en
	adelante, la “ Plataforma ”) que es administrada
	por LA FACTURA SAC (en adelante, “EL ADMINISTRADOR”), con domicilio en Av.
	José Pardo Nº 138 - Oficina 1202, Distrito de Miraflores, Provincia y
	Departamento de Lima, Perú, pone a disposición de los usuarios de
	Internet.</p>


	<p>La utilización de la Plataforma Web por cualquier persona mayor de
	catorce años, atribuye la condición de usuario de la misma (en adelante, el
	“ Usuario ”) e implica la aceptación plena y sin
	reservas de todas y cada una de las disposiciones incluidas en estas
	Condiciones Generales, en la versión publicada por EL ADMINISTRADOR en el
	momento mismo en que el Usuario acceda a la Plataforma. En consecuencia, el
	Usuario debe leer atentamente el presente documento en cada una de las
	ocasiones en que se proponga utilizarla, ya que &nbsp;puede sufrir
	modificaciones.</p>

	<p>La utilización de ciertos servicios ofrecidos a los Usuarios a
	través de la Plataforma Web se encuentra sometida a condiciones
	particulares propias contenidas en una guía de usuario (en adelante, la
	"Guía Datea”) que, según los casos, sustituyen, completan y/o modifican las
	presentes Condiciones Generales. Por lo tanto, con anterioridad a la
	utilización de dichos servicios, el Usuario también ha de leer atentamente
	la Guía Datea, y/o cualquier otro aviso, reglamento de uso o instrucciones
	puestos en conocimiento del Usuario por EL ADMINISTRADOR, que sustituyen,
	completan y/o modifican el presente documento.</p>

	<p>Asimismo, la utilización de algunas funcionalidades de la
	Plataforma Web de DATEA puede encontrarse sometidas a los avisos,
	reglamentos de uso, instrucciones y políticas de privacidad que regulan las
	herramientas ofrecidas por otras plataformas web a través de las cuales el
	Usuario accede, modifica, comparte,y en general, participa una "acción de
	mapeo participativo". Es responsabilidad del Usuario leerlas atentamente
	antes de la utilización de dichas funcionalidades.</p>

	

	<h3>2. OBJETO</h3>

	

	<p>A través de la Plataforma Web, EL ADMINISTRADOR facilita a los
	Usuarios el acceso y la utilización de diversos servicios, funcionalidades
	y contenidos (en adelante, los “ Servicios ”)
	puestos a disposición por EL ADMINISTRADOR o por terceros.</p>

	

	<h3>3. CONDICIONES DE ACCESO Y UTILIZACIÓN DE
	LA PLATAFORMA</h3>

	

	<p>3.1. Carácter gratuito del acceso y
	utilización de la Plataforma</p>

	

	<p>La prestación de los Servicios, por parte de EL ADMINISTRADOR,
	tiene carácter gratuito para los Usuarios.</p>

	

	<p>3.2. Registro de Usuario</p>

	

	<p>El acceso a DATEA es libre y gratuito para todos los Usuarios. Sin
	embargo, para (i) generar y administrar una "iniciativa de mapeo
	participativo", así como para (ii) reportar información sobre una
	"iniciativa de mapeo participativo" previamente existente, es necesario la
	previa suscripción o registro.</p>

	

	<p>Por ello, la utilización de estos Servicios está condicionada al
	ingreso mediante una cuenta de alguna de las herramientas permitidas por la
	Plataforma Web o a la creación de un registro de usuario a través de dicha
	Plataforma, el mismo que se encuentra disponible para aquellos Usuarios que
	deseen registrarse. El citado registro se efectuará en la forma
	expresamente indicada en la Guía Datea o en el propio servicio.</p>

	

	<p>3.3. Veracidad de la
	información</p>

	

	<p>Toda la información que facilite el Usuario a través de los
	Servicios deberá ser veraz. A estos efectos, el Usuario asumirá la
	responsabilidad por la autenticidad de todos aquellos datos que comunique
	como consecuencia del llenado y posterior envío a EL ADMINISTRADOR de los
	formularios necesarios para la suscripción de los Servicios. En todo caso
	el Usuario será el único responsable de las manifestaciones falsas o
	inexactas que realice y de los perjuicios que cause a EL ADMINISTRADOR o a
	terceros por la información que facilite.</p>

	

	<p>Sin perjuicio de lo anterior, mediante la aceptacion de las
	presentes Condiciones Generales por parte del Usuario, EL ADMINISTRADOR
	queda autorizado para suprimir información facilitada por éste, cuando a su
	criterio se trate de información manifiestamente falsa o inexacta, o cuando
	el Usuario haya incumplido su obligación de hacer un uso correcto de la
	Plataforma Web y de los Servicios, incurriendo en alguno de los casos
	descritos en los numerales 3.5 y 3.6 de las presentes Condiciones
	Generales, lo que deberá ser comunicado al Usuario. El uso de esta facultad
	por parte de EL ADMINISTRADOR no podrá ser arbitrario, y deberá estar
	motivado por el incumplimiento de una obligación asumida por el
	Usuario.</p>

	<p>&nbsp;</p>

	<p>3.4. Menores de edad</p>

	

	<p>Para hacer uso de la Plataforma Web de DATEA, y por lo tanto,
	adquirir la calidad de Usuario, se requiere ser mayor de edad.
	Excepcionalmente, podrán utilizar los servicios de la Plataforma Web de
	DATEA los mayores de catorce años que sean menores de dieciocho años,
	prestando su consentimiento expreso al acceder a la misma, siempre que su
	utilización no se encuentre referida a actividades, bienes o servicios
	restringidos para mayores de edad.</p>

	

	<p>EL ADMINISTRADOR se reserva el derecho de suspender, limitar o
	restringir el acceso a la Plataforma Web, en caso se detecte el
	incumplimiento de lo dispuesto anteriormente.</p>

	<p>En todo caso, la plena responsabilidad en la determinación de los
	concretos contenidos y Servicios a los que acceden los menores de catorce
	años corresponde a los mayores a cuyo cargo se encuentran. Como Internet
	hace posible el acceso a contenidos que pueden no ser apropiados para
	menores, se informa a los Usuarios de que existen mecanismos, en particular
	programas informáticos de filtro y bloqueo, que permiten limitar los
	contenidos disponibles y, aunque no resultan infalibles, son de especial
	utilidad para controlar y restringir los materiales a los que pueden
	acceder los menores.</p>

	

	<p>3.5. Obligación de hacer un uso correcto
	de la Plataforma Web y de los Servicios</p>

	

	<p>El Usuario se compromete a utilizar la Plataforma Web y los
	Servicios de conformidad con la Ley, las presentes Condiciones Generales,
	la Guía Datea y demás avisos, reglamentos de uso e instrucciones puestos en
	su conocimiento, o que sean aplicables a las herramientas ofrecidas por
	otras plataformas web utilizadas o enlazadas a DATEA, así como de acuerdo
	con el orden público, la moral y las buenas costumbres.</p>

	

	<p>A tal efecto, el Usuario se abstendrá de utilizar cualquiera de
	los Servicios con fines o efectos ilícitos, prohibidos en las presentes
	Condiciones Generales, lesivos de los derechos de terceros, o que de
	cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir
	la normal utilización de los Servicios, los equipos informáticos o los
	documentos, archivos y toda clase de contenidos almacenados en cualquier
	equipo informático (hacking) de EL ADMINISTRADOR, de otros Usuarios o de
	cualquier usuario de Internet (hardware y software).</p>

	

	<p>En particular, y a título meramente indicativo y no exhaustivo, el
	Usuario se compromete a no transmitir, difundir o poner a disposición de
	terceros informaciones, datos, contenidos, mensajes, gráficos, dibujos,
	archivos de sonido y/o imagen, fotografías, grabaciones, software y, en
	general, cualquier clase de material que:</p>

	

	<ul>
		<li> de cualquier forma sea contrario, menosprecie o
		atente contra los derechos fundamentales y las libertades públicas
		reconocidas constitucionalmente, en los Tratados internacionales y en
		el resto de la legislación;</li>

		<li> induzca, incite o promueva actuaciones
		delictivas, denigratorias, difamatorias, infamantes, violentas o, en
		general, contrarias a la Ley, el orden público, la moral y las buenas
		costumbres;</li>

		<li> induzca, incite o promueva actuaciones,
		actitudes o pensamientos discriminatorios por razón de sexo, raza,
		religión, creencias, edad, condición social o cualquier otro
		factor;</li>

		<li> incorpore, ponga a disposición o permita
		acceder a productos, elementos, mensajes y/o servicios delictivos,
		violentos, ofensivos, nocivos, degradantes o, en general, contrarios a
		la Ley, el orden público, la moral y las buenas costumbres;</li>

		<li> induzca o pueda inducir a un estado irrazonable
		de ansiedad o temor;</li>

		<li> induzca o incite a involucrarse en prácticas
		peligrosas, de riesgo o nocivas para la salud y el equilibrio
		psíquico;</li>

		<li> sea falso, ambiguo, inexacto, exagerado o
		extemporáneo, de forma que induzca o pueda inducir a error sobre su
		objeto o sobre las intenciones o propósitos del
		comunicante;</li>

		<li> se encuentre protegido por cualesquiera
		derechos de propiedad intelectual o industrial pertenecientes a
		terceros, sin que el Usuario haya obtenido previamente de sus titulares
		la autorización necesaria para llevar a cabo el uso que efectúa o
		pretende efectuar;</li>

		<li> viole los secretos empresariales de
		terceros;</li>

		<li> sea contrario al derecho al honor, a la
		intimidad personal y familiar o a la propia imagen de las
		personas;</li>

		<li> de cualquier manera menoscabe la credibilidad,
		reputación o la imagen de EL ADMINISTRADOR o de terceros;</li>

		<li> infrinja la normativa sobre secreto de las
		comunicaciones;</li>

		<li> constituya, en su caso, publicidad ilícita,
		engañosa o desleal y, en general, que constituya competencia
		desleal;</li>

		<li> incorpore virus u otros elementos físicos o
		electrónicos que puedan dañar o impedir el normal funcionamiento de la
		red, del sistema o de equipos informáticos (hardware y software) de EL
		ADMINISTRADOR o de terceros o que puedan dañar los documentos
		electrónicos y archivos almacenados en dichos equipos
		informáticos;</li>

		<li> provoque por sus características (tales como
		formato, extensión, etc.) dificultades en el normal funcionamiento del
		Servicio;</li>

		<li> contenga etiquetas HTML distintas de aquéllas
		expresamente autorizadas por EL ADMINISTRADOR.</li>
	</ul>

	

	<p>3.6. Obligación de hacer un uso correcto
	de los Contenidos</p>

	

	<p>De conformidad con lo dispuesto en la cláusula 3.5, el Usuario se
	compromete a utilizar los contenidos puestos a disposición de los Usuarios
	en la Plataforma Web, entendiendo por estos, sin que esta enumeración tenga
	carácter limitativo, los textos, datos, fotografías, gráficos, imágenes,
	iconos, tecnología, software, links y demás contenidos audiovisuales o
	sonoros, así como su diseño gráfico y códigos fuente (en adelante, los
	“ Contenidos ”), de conformidad con la Ley, las
	presentes Condiciones Generales, la Guía Datea y demás avisos, reglamentos
	de uso e instrucciones puestos en su conocimiento, o que sean aplicables a
	las herramientas ofrecidas por otras plataformas web utilizadas o enlazadas
	a DATEA, así como con el orden público, la moral y las buenas costumbres,
	y, en particular, se compromete a abstenerse de:</p>

	

	<ul>
		<li> reproducir, copiar, distribuir, poner a
		disposición o de cualquier otra forma comunicar públicamente,
		transformar o modificar los Contenidos, a menos que se cuente con la
		autorización del titular de los correspondientes derechos o ello
		resulte legalmente permitido;</li>
	</ul>

	

	<ul>
		<li> suprimir, manipular o de cualquier forma
		alterar el “copyright” y demás datos identificativos de la reserva de
		derechos de EL ADMINISTRADOR o de sus titulares, de las huellas
		digitales o de cualesquiera otros medios técnicos establecidos para su
		reconocimiento.</li>
	</ul>

	

	<p>El Usuario deberá abstenerse de obtener e incluso de intentar
	obtener los Contenidos empleando para ello medios o procedimientos
	distintos de los que, según los casos, se hayan puesto a su disposición a
	este efecto o se hayan indicado a este efecto en las páginas web donde se
	encuentren los Contenidos o, en general, de los que se empleen
	habitualmente en Internet a este efecto siempre que no entrañen un riesgo
	de daño o inutilización de la Plataforma virtual, de los Servicios y/o de
	los Contenidos.</p>

	

	<p>3.7. Uso de los Servicios ofrecidos en la
	Plataforma Web de conformidad con la Política Anti-Spamming de EL
	ADMINISTRADOR</p>

	

	<p>El Usuario se obliga a abstenerse de:</p>

	

	<p>(i) recabar datos con finalidad publicitaria y de remitir
	publicidad de cualquier clase y comunicaciones con fines de venta u otras
	de naturaleza comercial sin que medie su previa solicitud y
	consentimiento;</p>

	<p>(ii) remitir cualesquiera otros mensajes no solicitados ni
	consentidos previamente a una pluralidad de personas;</p>

	<p>(iii) enviar cadenas de mensajes electrónicos no solicitados ni
	previamente consentidos;</p>

	<p>(iv) utilizar listas de distribución a las que pueda accederse a
	través de los Servicios para la realización de las actividades señaladas en
	los apartados (i) a (iii) anteriores;</p>

	<p>(v) poner a disposición de terceros, con cualquier finalidad,
	datos recabados a partir de listas de distribución.</p>

	

	<p>Los Usuarios o terceros perjudicados por la recepción de mensajes
	no solicitados dirigidos a una pluralidad de personas podrán comunicárselo
	a EL ADMINISTRADOR remitiendo un mensaje a la siguiente dirección de correo
	electrónico:&nbsp;contacto@datea.pe</p>

	

	<p>3.8. Introducción de hiperenlaces que
	permitan el acceso a las páginas web de la Plataforma y a los
	Servicios</p>

	

	<p>Los Usuarios y, en general, aquellas personas que se propongan
	establecer un hiperenlace entre su página web y la Plataforma Web (en
	adelante, el “ Hiperenlace ”) deberán cumplir las
	condiciones siguientes:</p>

	

	<ul>
		<li> el Hiperenlace únicamente permitirá el acceso a
		la home-page o página de inicio de la Plataforma Web, o a una acción de
		mapeo participativo generada a través de la misma, pero no podrá
		reproducirlas de ninguna forma;</li>

		<li> no se creará una tabla sobre las páginas web de
		la Plataforma;</li>

		<li> no se realizarán manifestaciones o indicaciones
		falsas, inexactas o incorrectas sobre EL ADMINISTRADOR, sus directivos,
		sus empleados, las páginas web de la Plataforma Web y los Servicios
		suministrados;</li>

		<li> no se declarará ni se dará a entender que EL
		ADMINISTRADOR ha autorizado el Hiperenlace o que ha supervisado o
		asumido de cualquier forma los servicios ofrecidos o puestos a
		disposición de la página web en la que se establece el
		Hiperenlace;</li>

		<li> Con excepción de aquellos signos que formen
		parte del mismo Hiperenlace, la página web en la que se establezca el
		Hiperenlace no contendrá ninguna marca, nombre comercial, rótulo de
		establecimiento, denominación, logotipo, eslogan u otros signos
		distintivos pertenecientes a EL ADMINISTRADOR; y</li>

		<li> la página web en la que se establezca el
		Hiperenlace no contendrá informaciones o contenidos ilícitos,
		contrarios al orden público, la moral y las buenas costumbres, así como
		tampoco contendrá contenidos contrarios a cualesquiera derechos de
		terceros.</li>
	</ul>

	

	<p>El establecimiento del Hiperenlace no implica en ningún caso la
	existencia de relaciones entre EL ADMINISTRADOR y el propietario de la
	página web en la que se establezca, ni la aceptación y aprobación por parte
	de EL ADMINISTRADOR de sus contenidos o servicios.</p>

	

	<h3>4.>NO LICENCIA</h3>

	

	<p>Todas las marcas, nombres comerciales o signos distintivos de
	cualquier clase que aparecen en la Plataforma son de titularidad de LA
	FACTURA SAC, de EL ADMINISTRADOR o de terceros, sin que pueda entenderse
	que el uso o acceso a la Plataforma Web y/o a los Servicios atribuya al
	Usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o
	signos distintivos.</p>

	

	<p>Asimismo, los Contenidos son de propiedad intelectual de LA
	FACTURA SAC, de EL ADMINISTRADOR o de terceros, sin que puedan entenderse
	cedidos al Usuario, en virtud de lo establecido en las presentes
	Condiciones Generales, ninguno de los derechos de explotación que existen o
	puedan existir sobre dichos Contenidos más allá de lo estrictamente
	necesario para el correcto uso de la Plataforma Web y de los
	Servicios.</p>

	

	<h3>5. EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</h3>

	

	<p>5.1. Exclusión de garantías y de
	responsabilidad por el funcionamiento de la Plataforma Web y de los
	Servicios</p>

	

	

	<p>5.1.1. Disponibilidad y continuidad,
	utilidad y falibilidad</p>

	

	<p>EL ADMINISTRADOR no garantiza la disponibilidad y continuidad del
	funcionamiento de la Plataforma Web y de los Servicios. Cuando ello sea
	razonablemente posible, EL ADMINISTRADOR advertirá previamente de las
	interrupciones en el funcionamiento de la Plataforma Web y de los
	Servicios. EL ADMINISTRADOR tampoco garantiza la utilidad de la Plataforma
	Web y de los Servicios para la realización de ninguna actividad en
	concreto, ni su infalibilidad y, en particular, aunque no de modo
	exclusivo, que los Usuarios puedan efectivamente utilizar la Plataforma Web
	y los Servicios, acceder a las distintas páginas web que forman la
	Plataforma Web o a aquéllas desde las que se prestan los
	Servicios.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE, CON TODA LA EXTENSIÓN PERMITIDA POR EL
	ORDENAMIENTO JURÍDICO, CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS
	DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA FALTA DE DISPONIBILIDAD O DE
	CONTINUIDAD DEL FUNCIONAMIENTO DE LA PLATAFORMA WEB Y DE LOS SERVICIOS, A
	LA DEFRAUDACIÓN DE LA UTILIDAD QUE LOS USUARIOS HUBIEREN PODIDO ATRIBUIR A
	LA PLATAFORMA WEB Y A LOS SERVICIOS, A LA FALIBILIDAD DE LA PLATAFORMA WEB
	Y DE LOS SERVICIOS, Y EN PARTICULAR, AUNQUE NO DE MODO EXCLUSIVO, A LOS
	FALLOS EN EL ACCESO A LAS DISTINTAS PÁGINAS WEB DE LA PLATAFORMA WEB O A
	AQUELLAS DESDE LAS QUE SE PRESTAN LOS SERVICIOS.</p>

	

	<p>5.1.2. Privacidad y seguridad en la
	utilización de la Plataforma Web y de los Servicios</p>

	

	<p>EL ADMINISTRADOR no garantiza la privacidad y seguridad de la
	utilización de la Plataforma Web y de los Servicios y, en particular, no
	garantiza que terceros no autorizados no puedan tener conocimiento de la
	clase, condiciones, características y circunstancias del uso que los
	Usuarios hacen de la Plataforma Web y de los Servicios.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE, CON TODA LA EXTENSIÓN PERMITIDA POR EL
	ORDENAMIENTO JURÍDICO, CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS
	DE TODA NATURALEZA QUE PUDIERAN DEBERSE AL CONOCIMIENTO QUE PUEDAN TENER
	TERCEROS NO AUTORIZADOS DE LA CLASE, CONDICIONES, CARACTERÍSTICAS Y
	CIRCUNSTANCIAS DEL USO QUE LOS USUARIOS HACEN DE LA PLATAFORMA WEB Y DE LOS
	SERVICIOS.</p>

	

	<p>5.2. Exclusión de garantías y de
	responsabilidad por los Contenidos</p>

	

	<p>5.2.1. Calidad</p>

	

	<p>EL ADMINISTRADOR no controla ni garantiza la ausencia de virus ni
	de otros elementos en los Contenidos que puedan producir alteraciones en su
	sistema informático (software y hardware) o en los documentos electrónicos
	y ficheros almacenados en su sistema informático.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE, CON TODA LA EXTENSIÓN PERMITIDA POR EL
	ORDENAMIENTO JURÍDICO, CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS
	DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA PRESENCIA DE VIRUS O A LA
	PRESENCIA DE OTROS ELEMENTOS EN LOS CONTENIDOS QUE PUEDAN PRODUCIR
	ALTERACIONES EN EL SISTEMA INFORMÁTICO, DOCUMENTOS ELECTRONICOS O FICHEROS
	DE LOS USUARIOS.</p>

	

	<p>5.2.2. Licitud, fiabilidad y
	utilidad</p>

	

	<p>EL ADMINISTRADOR no garantiza la licitud, fiabilidad y utilidad de
	los Contenidos.</p>

	<p>EL ADMINISTRADOR EXCLUYE, CON TODA LA EXTENSIÓN PERMITIDA POR EL
	ORDENAMIENTO JURÍDICO, CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS
	DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA TRANSMISIÓN, DIFUSIÓN,
	ALMACENAMIENTO, PUESTA A DISPOSICIÓN, RECEPCIÓN, OBTENCIÓN O ACCESO A LOS
	CONTENIDOS, Y EN PARTICULAR, AUNQUE NO DE MODO EXCLUSIVO, POR LOS DAÑOS Y
	PERJUICIOS QUE PUEDAN DEBERSE A:</p>

	

	<ul>
		<li> EL INCUMPLIMIENTO DE LA LEY, EL ORDEN PÚBLICO,
		LA MORAL Y LAS BUENAS COSTUMBRES COMO CONSECUENCIA DE LA TRANSMISIÓN,
		DIFUSIÓN, ALMACENAMIENTO, PUESTA A DISPOSICIÓN, RECEPCIÓN, OBTENCIÓN O
		ACCESO A LOS CONTENIDOS;</li>

		<li> LA INFRACCIÓN DE LOS DERECHOS DE PROPIEDAD
		INTELECTUAL E INDUSTRIAL, DE LOS SECRETOS EMPRESARIALES, DE COMPROMISOS
		CONTRACTUALES DE CUALQUIER CLASE, DE LOS DERECHOS AL HONOR, A LA
		INTIMIDAD PERSONAL Y FAMILIAR Y A LA IMAGEN DE LAS PERSONAS, DE LOS
		DERECHOS DE PROPIEDAD Y DE TODA OTRA NATURALEZA PERTENECIENTES A UN
		TERCERO COMO CONSECUENCIA DE LA TRANSMISIÓN, DIFUSIÓN, ALMACENAMIENTO,
		PUESTA A DISPOSICIÓN, RECEPCIÓN, OBTENCIÓN O ACCESO A LOS
		CONTENIDOS;</li>

		<li> LA REALIZACIÓN DE ACTOS DE COMPETENCIA DESLEAL
		Y PUBLICIDAD ILÍCITA COMO CONSECUENCIA DE LA TRANSMISIÓN, DIFUSIÓN,
		ALMACENAMIENTO, PUESTA A DISPOSICIÓN, RECEPCIÓN, OBTENCIÓN O ACCESO A
		LOS CONTENIDOS;</li>

		<li> LA FALTA DE VERACIDAD, EXACTITUD,
		EXHAUSTIVIDAD, PERTINENCIA Y/O ACTUALIDAD DE LOS
		CONTENIDOS;</li>

		<li> LA INADECUACIÓN PARA CUALQUIER CLASE DE
		PROPÓSITO Y LA DEFRAUDACIÓN DE LAS EXPECTATIVAS GENERADAS POR LOS
		CONTENIDOS;</li>

		<li> EL INCUMPLIMIENTO, RETRASO EN EL CUMPLIMIENTO,
		CUMPLIMIENTO DEFECTUOSO O TERMINACIÓN POR CUALQUIER CAUSA DE LAS
		OBLIGACIONES CONTRAÍDAS POR TERCEROS Y CONTRATOS REALIZADOS CON
		TERCEROS A TRAVÉS DE O CON MOTIVO DEL ACCESO A LOS
		CONTENIDOS;</li>

		<li> LOS VICIOS Y DEFECTOS DE TODA CLASE DE LOS
		CONTENIDOS TRANSMITIDOS, DIFUNDIDOS, ALMACENADOS, PUESTOS A DISPOSICIÓN
		O DE OTRA FORMA TRANSMITIDOS O PUESTOS A DISPOSICIÓN, RECIBIDOS,
		OBTENIDOS O A LOS QUE SE HAYA ACCEDIDO A TRAVÉS DE LA PLATAFORMA WEB O
		DE LOS SERVICIOS.</li>
	</ul>

	

	<p>5.2.3. Veracidad, exactitud, exhaustividad
	y actualidad</p>

	

	<p>EL ADMINISTRADOR no garantiza la veracidad, exactitud,
	exhaustividad y actualidad de los Contenidos.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE, CON TODA LA EXTENSIÓN PERMITIDA POR EL
	ORDENAMIENTO JURÍDICO, CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS
	DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA FALTA DE VERACIDAD, EXACTITUD,
	EXHAUSTIVIDAD Y/O ACTUALIDAD DE LOS CONTENIDOS.</p>

	

	<p>5.3. Exclusión de garantías y de
	responsabilidad por los servicios prestados por terceros a través de la
	Plataforma Web</p>

	

	<p>5.3.1. Calidad</p>

	

	<p>EL ADMINISTRADOR no controla ni garantiza la ausencia de virus ni
	de otros elementos en los servicios prestados por terceros a través de la
	Plataforma Web que puedan producir alteraciones en su sistema informático
	(software y hardware) o en los documentos electrónicos y ficheros
	almacenados en su sistema informático.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y
	PERJUICIOS DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA PRESENCIA DE VIRUS O
	A LA PRESENCIA DE OTROS ELEMENTOS LESIVOS EN LOS SERVICIOS PRESTADOS POR
	TERCEROS A TRAVÉS DE LA PLATAFORMA WEB QUE PUEDAN PRODUCIR ALTERACIONES EN
	EL SISTEMA INFORMÁTICO, DOCUMENTOS ELECTRONICOS O FICHEROS DE LOS
	USUARIOS.</p>

	

	<p>5.3.2. Licitud, fiabilidad y
	utilidad</p>

	

	<p>EL ADMINISTRADOR no garantiza la licitud, fiabilidad y utilidad de
	los servicios prestados por terceros a través de la Plataforma
	Web.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y
	PERJUICIOS DE TODA NATURALEZA QUE PUEDAN DEBERSE A LOS SERVICIOS PRESTADOS
	POR TERCEROS A TRAVÉS DE LA PLATAFORMA, Y EN PARTICULAR, AUNQUE NO DE MODO
	EXCLUSIVO, POR LOS DAÑOS Y PERJUICIOS QUE PUEDAN DEBERSE A:</p>

	

	<ul>
		<li> EL INCUMPLIMIENTO DE LA LEY, EL ORDEN PÚBLICO,
		LA MORAL Y LAS BUENAS COSTUMBRES COMO CONSECUENCIA DE LA PRESTACIÓN DE
		SERVICIOS POR TERCEROS A TRAVÉS DE LA PLATAFORMA WEB;</li>

		<li> LA INFRACCIÓN DE LOS DERECHOS DE PROPIEDAD
		INTELECTUAL E INDUSTRIAL, DE LOS SECRETOS EMPRESARIALES, DE COMPROMISOS
		CONTRACTUALES DE CUALQUIER CLASE, DE LOS DERECHOS AL HONOR, A LA
		INTIMIDAD PERSONAL Y FAMILIAR Y A LA IMAGEN DE LAS PERSONAS, DE LOS
		DERECHOS DE PROPIEDAD Y DE TODA OTRA NATURALEZA PERTENECIENTES A UN
		TERCERO COMO CONSECUENCIA DE LA PRESTACIÓN DE SERVICIOS POR TERCEROS A
		TRAVÉS DE LA PLATAFORMA WEB;</li>

		<li> LA REALIZACIÓN DE ACTOS DE COMPETENCIA DESLEAL
		Y PUBLICIDAD ILÍCITA COMO CONSECUENCIA DE LA PRESTACIÓN DE SERVICIOS
		POR TERCEROS A TRAVÉS DE LA PLATAFORMA WEB;</li>

		<li> LA FALTA DE VERACIDAD, EXACTITUD,
		EXHAUSTIVIDAD, PERTINENCIA Y/O ACTUALIDAD DE LOS CONTENIDOS
		TRANSMITIDOS, DIFUNDIDOS, ALMACENADOS, RECIBIDOS, OBTENIDOS, PUESTOS A
		DISPOSICIÓN O ACCESIBLES MEDIANTE LOS SERVICIOS PRESTADOS POR TERCEROS
		A TRAVÉS DE LA PLATAFORMA WEB;</li>

		<li> LA INADECUACIÓN PARA CUALQUIER CLASE DE
		PROPÓSITO DE Y LA DEFRAUDACIÓN DE LAS EXPECTATIVAS GENERADAS POR LOS
		SERVICIOS PRESTADOS POR TERCEROS A TRAVÉS DE LA PLATAFORMA
		WEB;</li>

		<li> EL INCUMPLIMIENTO, RETRASO EN EL CUMPLIMIENTO,
		CUMPLIMIENTO DEFECTUOSO O TERMINACIÓN POR CUALQUIER CAUSA DE LAS
		OBLIGACIONES CONTRAÍDAS POR TERCEROS Y CONTRATOS REALIZADOS CON
		TERCEROS EN RELACIÓN CON O CON MOTIVO DE LA PRESTACIÓN DE SERVICIOS A
		TRAVÉS DE LA PLATAFORMA WEB;</li>

		<li> LOS VICIOS Y DEFECTOS DE TODA CLASE DE LOS
		SERVICIOS PRESTADOS POR TERCEROS A TRAVÉS DE LA PLATAFORMA
		WEB.</li>
	</ul>

	

	

	<p>5.4. Exclusión de garantías y de
	responsabilidad por la información, contenidos y servicios y alojados fuera
	de la Plataforma Web</p>

	

	<p>La Plataforma Web podrá poner a disposición de los Usuarios
	dispositivos técnicos de enlace (tales como, entre otros, links, banners,
	botones), directorios y herramientas de búsqueda que permiten a los
	Usuarios acceder a sitios web pertenecientes y/o gestionados por terceros
	(en adelante, “ Sitios Enlazados ”), como por
	ejemplo, y a título meramente indicativo y no exhaustivo, aquellos
	relativas a redes sociales admitidas por la Plataforma Web para la
	identificación de los Usuarios. La instalación de estos enlaces,
	directorios y herramientas de búsqueda en la Plataforma Web tiene por único
	objeto facilitar a los Usuarios la búsqueda y acceso a la información,
	contenidos y servicios disponibles en Internet.</p>

	

	<p>Los resultados de herramientas de búsqueda son proporcionados
	directamente por terceros y son consecuencia del funcionamiento automático
	de mecanismos técnicos, por lo que EL ADMINISTRADOR no puede controlar y no
	controla esos resultados y, en particular, que entre ellos aparezcan sitios
	de Internet cuyos contenidos puedan resultar ilícitos, contrarios a la
	moral o a las buenas costumbres o considerados inapropiados por otros
	motivos. En el supuesto de que un usuario considere que en alguno de los
	sitios incluidos en los resultados de la búsqueda se contiene actividad o
	información ilícita y esté interesado en solicitar la supresión del enlace
	puede poner en marcha el procedimiento previsto en la cláusula séptima de
	las presentes Condiciones Generales.</p>

	

	<p>EL ADMINISTRADOR no ofrece ni comercializa por sí ni por medio de
	terceros la información, contenidos y servicios disponibles en los Sitios
	Enlazados, ni los controla previamente, aprueba, recomienda, vigila ni hace
	propios. El Usuario, por tanto, debe extremar la prudencia en la valoración
	y utilización de la información, contenidos y servicios existentes en los
	Sitios Enlazados.</p>

	

	<p>EL ADMINISTRADOR NO GARANTIZA NI ASUME NINGÚN TIPO DE
	RESPONSABILIDAD POR LOS DAÑOS Y PERJUICIOS DE TODA CLASE QUE PUEDAN DEBERSE
	A:</p>

	

	<ul>
		<li> EL FUNCIONAMIENTO, DISPONIBILIDAD,
		ACCESIBILIDAD O CONTINUIDAD DE LOS SITIOS ENLAZADOS;</li>

		<li> EL MANTENIMIENTO DE LA INFORMACIÓN, CONTENIDOS
		Y SERVICIOS, EXISTENTES EN LOS SITIOS ENLAZADOS;</li>

		<li> LA PRESTACIÓN O TRANSMISIÓN DE LA INFORMACIÓN,
		CONTENIDOS Y SERVICIOS EXISTENTES EN LOS SITIOS ENLAZADOS;</li>

		<li> LA CALIDAD, LICITUD, FIABILIDAD Y UTILIDAD DE
		LA INFORMACIÓN CONTENIDOS Y SERVICIOS EXISTENTES EN LOS SITIOS
		ENLAZADOS, EN LOS MISMOS TÉRMINOS Y CON EL MISMO ALCANCE DISPUESTO EN
		LA CONDICIÓN GENERAL 5.2 Y 5.3 RESPECTO DE LOS CONTENIDOS Y DE LOS
		SERVICIOS PRESTADOS POR TERCEROS A TRAVÉS DE LA PLATAFORMA
		WEB.</li>
	</ul>

	

	<p>5.5. Exclusión de garantías y de
	responsabilidad por la utilización de la Plataforma Web, de los Servicios y
	de los Contenidos por los Usuarios</p>

	

	<p>EL ADMINISTRADOR no tiene obligación de controlar y no controla la
	utilización que los Usuarios hacen de la Plataforma Web, de los Servicios y
	de los Contenidos. En particular, EL ADMINISTRADOR no garantiza que los
	Usuarios utilicen la Plataforma Web, los Servicios y los Contenidos de
	conformidad con las presentes Condiciones Generales, con las condiciones
	particulares que aparecen en la Guía Datea o en los demás avisos,
	reglamentos de uso e instrucciones puestos en su conocimiento, o que sean
	aplicables a las herramientas ofrecidas por otras plataformas web
	utilizadas o enlazadas a DATEA que resulten de aplicación, ni que lo hagan
	de forma diligente y prudente. EL ADMINISTRADOR tampoco tiene la obligación
	de verificar y no verifica la identidad de los Usuarios, ni la veracidad,
	vigencia, exhaustividad y/o autenticidad de los datos que los Usuarios
	proporcionan sobre sí mismos a otros Usuarios.</p>

	

	<p>EL ADMINISTRADOR EXCLUYE CUALQUIER RESPONSABILIDAD POR LOS DAÑOS Y
	PERJUICIOS DE TODA NATURALEZA QUE PUDIERAN DEBERSE A LA UTILIZACIÓN DE LOS
	SERVICIOS Y DE LOS CONTENIDOS POR PARTE DE LOS USUARIOS O QUE PUEDAN
	DEBERSE A LA FALTA DE VERACIDAD, VIGENCIA, EXHAUSTIVIDAD Y/O AUTENTICIDAD
	DE LA INFORMACIÓN QUE LOS USUARIOS PROPORCIONAN A OTROS USUARIOS ACERCA DE
	SÍ MISMOS Y, EN PARTICULAR, AUNQUE NO DE FORMA EXCLUSIVA, POR LOS DAÑOS Y
	PERJUICIOS DE TODA NATURALEZA QUE PUEDAN DEBERSE A LA SUPLANTACIÓN DE LA
	PERSONALIDAD DE UN TERCERO EFECTUADA POR UN USUARIO EN CUALQUIER CLASE DE
	COMUNICACIÓN REALIZADA A TRAVÉS DE LA PLATAFORMA WEB.</p>

	

	<h3>6. PROCEDIMIENTO EN CASO DE REALIZACIÓN DE
	ACTIVIDADES DE CARÁCTER ILÍCITO</h3>

	

	<p>En el caso de que cualquier Usuario o un tercero considere que
	existen hechos o circunstancias que revelen el carácter ilícito de la
	utilización de cualquier Contenido y/o de la realización de cualquier
	actividad en las páginas web incluidas o accesibles a través de la
	Plataforma Web, y, en particular, de la violación de derechos de propiedad
	intelectual o industrial (patentes, modelos y dibujos industriales, marcas
	y nombres comerciales, etc.) u otros derechos, podrá enviar una
	notificación a la Dirección de EL ADMINISTRADOR (al
	e-mail&nbsp;contacto <a class="c8" href="mailto:info@datea.pe">@datea.pe</a> &nbsp; o a la dirección
	consignada en la cláusula 8) conteniendo los siguientes
	extremos:</p>

	

	<ul>
		<li> datos personales del reclamante: nombre,
		dirección, número de teléfono y dirección de correo
		electrónico;</li>

		<li> especificación de la supuesta actividad ilícita
		llevada a cabo en la Plataforma Web y, en particular, cuando se trate
		de una supuesta violación de derechos, indicación precisa y concreta de
		los contenidos protegidos así como de su localización en las páginas
		web;</li>

		<li> hechos o circunstancias que revelan el carácter
		ilícito de dicha actividad;</li>

		<li> en el supuesto de violación de derechos, firma
		manuscrita o equivalente, con los datos personales del titular de los
		derechos supuestamente infringidos o de la persona autorizada para
		actuar en nombre y por cuenta de ésta;</li>

		<li> declaración expresa, clara y bajo la
		responsabilidad del reclamante de que la información proporcionada en
		la notificación es exacta y del carácter ilícito de la utilización de
		los contenidos o de la realización de las actividades
		descritas.</li>
	</ul>

	

	<h3>7. NOTIFICACIONES</h3>

	<p>Sin perjuicio de lo señalado en el primer párrafo de la cláusula 7
	anterior, todas las notificaciones y comunicaciones (en adelante, las
	“ Notificaciones ”) por parte del Usuario a EL
	ADMINISTRADOR se considerarán eficaces, a todos los efectos, cuando se
	dirijan de alguna de las siguientes formas:</p>

	

	<ul>
		<li> Envío por correo postal a la siguiente
		dirección: Av. José Pardo Nº 138 - Oficina 1202, Miraflores, Lima,
		Perú</li>

		<li> Envío por correo electrónico a la siguiente
		dirección:  <a class="c8" href="mailto:info@datea.pe">contacto@datea.pe</a> &nbsp;</li>
	</ul>

	

	<p>Todas las Notificaciones por parte de EL ADMINISTRADOR al Usuario
	se considerarán eficaces, a todos los efectos, cuando se realicen de alguna
	de las siguientes maneras:</p>

	

	<ul>
		<li> Envío por correo postal al domicilio del
		Usuario cuando éste haya sido previamente puesto en conocimiento de EL
		ADMINISTRADOR;</li>

		<li> Envío por correo electrónico a cualquiera de
		los buzones que el Usuario dispone o pueda disponer como parte de
		cualquier otro servicio que EL ADMINISTRADOR preste al
		Usuario;</li>

		<li> Comunicación por medio de una llamada
		telefónica al número de teléfono del Usuario, cuando éste haya sido
		previamente puesto en conocimiento de EL ADMINISTRADOR;</li>

		<li> Mediante mensajes emergentes enviados durante
		la prestación de los Servicios por parte de EL ADMINISTRADOR al
		Usuario.</li>
	</ul>

	

	<p>En este sentido, todas las Notificaciones que efectúe EL
	ADMINISTRADOR al Usuario se considerarán válidamente efectuadas si se han
	realizado empleando los datos y a través de los medios anteriormente
	señalados. A estos efectos, el Usuario manifiesta que todos los datos
	facilitados por él son ciertos y correctos, y se compromete a comunicar a
	EL ADMINISTRADOR todos los cambios relativos a los datos de
	notificación.</p>

	

	<h3>8. RETIRADA Y SUSPENSIÓN DE LOS
	SERVICIOS</h3>

	

	<p>EL ADMINISTRADOR podrá retirar o suspender en cualquier momento y
	sin necesidad de aviso previo la prestación de los Servicios a aquellos
	Usuarios que incumplan lo establecido en las presentes Condiciones
	Generales, en las condiciones particulares que aparecen en la Guía Datea o
	en los demás avisos, reglamentos de uso e instrucciones puestos en su
	conocimiento, o que sean aplicables a las herramientas ofrecidas por otras
	plataformas web utilizadas o enlazadas a DATEA que resulten de
	aplicación.</p>

	

	<h3>9. DURACIÓN Y TERMINACIÓN</h3>

	

	<p>La prestación del servicio de la Plataforma Web y de los demás
	Servicios tiene, en principio, una duración indefinida. EL ADMINISTRADOR,
	no obstante, está autorizado para dar por terminada o suspender la
	prestación del servicio de la Plataforma Web y/o de cualquiera de los
	Servicios en cualquier momento, sin perjuicio de lo que se hubiere
	dispuesto al respecto en las presentes Condiciones Generales, en las
	condiciones particulares que aparecen en la Guía Datea o en los demás
	avisos, reglamentos de uso e instrucciones puestos en su conocimiento, o
	que resulten de aplicación. Cuando ello sea razonablemente posible, EL
	ADMINISTRADOR advertirá previamente la terminación o suspensión de la
	prestación del servicio de la Plataforma Web y de los demás
	Servicios.</p>

	

	<h3>10. LEGISLACIÓN APLICABLE</h3>

	<p>Las presentes Condiciones Generales se rigen en todos y cada uno
	de sus extremos por las leyes de la República del Perú.</p>

	

	<h3>11. JURISDICCIÓN</h3>

	

	<p>EL ADMINISTRADOR y el Usuario, con renuncia expresa a cualquier
	otro fuero, se someten al de los Juzgados y Tribunales del Distrito
	Judicial de Lima, Perú.&nbsp;</p>

	<p>Para cualquier sugerencia o propuesta de colaboración escríbanos
	por correo electrónico a contacto@datea.pe, o llámenos al siguiente número
	de teléfono: 2436377.</p>

	</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="sidebar-content">
					
				</div>
			</div>
		</div>
	</div>
</div>