<div class="campaign-holder ff1" ng-hide="flow.notFound">
	<div class="campaign-card container-fluid">
		<div class="row">
			<div class="col-sm-7 campaign-info">
				<div class="inner">
					<div class="main-buttons">
						<button class="btn datea-datear-btn btn-lg" ng-click="campaign.datear()">Datea <i class="glyphicon glyphicon-map-marker"></i></button><span class="time-left" ng-show="campaign.end_date">{{campaign._timeLeft | date:time }}</span>
					</div>
					<div class="main-info">
						<h1>{{campaign.name}}</h1>
						<h2>#{{campaign.main_tag.tag}}</h2>
						<p class="shortdesc">{{campaign.short_description}}</p>
						<div class="stats">
							<div class="dateo-count stat" ng-if="campaign.dateo_count > 0">{{campaign.dateo_count}} <ng-pluralize count="campaign.dateo_count" when="{'one':'dateo','other':'dateos'}"></ng-pluralize></div>
							<div class="follow-count stat" ng-if="campaign.follow_count > 0">{{campaign.follow_count}} <ng-pluralize count="campaign.follow_count" when="{'one':'seguidor','other':'seguidores'}"></ng-pluralize></div>
							
							<da-follow follow-obj="tag" follow-id="{{campaign.id}}" btn-class="follow-campaign"></da-follow>

							<div class="col-xs-3 share-btn">
								<div class="input-group">
									<input type="text" class="form-control" ng-model="campaign.shareableUrl">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="campaign.share()"><i class="fa fa-share-alt"></i></button>
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5 hidden-xs campaign-img" da-bg-from-api="{{campaign.image.image}}" da-img-size="cover"></div>
		</div>
	</div>



	<div class="viz-holder">
		<div class="viz-nav">
			<div class="search">
				<form class="form search-form" ng-submit="campaign.searchDateos()">
					<!--<div class="form-group">-->
						<div class="input-group">
							<input type="text" class="form-control" ng-model="campaign.searchDateosKeyword">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-search" ng-click="campaign.searchDateos()"></i></button>
							</span>
						</div>
					<!--</div>-->
				</form>
				<div class="order-by-holder" ng-hide="search.show_orderby">
					<span class="order-by-label">ordernar por:</span>
						<select class="selectpicker" data-style="btn-link" name="orderBy" ng-model="campaign.selectedMarker" ng-change="campaign.onSelectFilterChange()">
							<option value="last">últimos</option>
							<option value="mostVoted">más apoyados</option>
							<option value="mostCommented">más comentados</option>
						</select>
			  </div>
			</div>
		</div>
		<div class="viz-viewer" ng-class="{'datea-loading': campaign.loading.dateos }">
			<tabset>
				<tab heading="&nbsp;" class="glyphicon glyphicon-map-marker datea-glyphtab-fix">
					<div class="container-fluid dateo-map-viz">
						<div class="row">
							<div class="hidden-xs col-sm-45 dateos-holder">
								<div class="dateo-description-holder">
										<da-dateo-teaser ng-repeat="dateo in campaign.dateos"></da-dateo-teaser>
								</div>
							</div>
							<div class="col-xs-12 col-sm-75 leaflet-map-holder" ng-class="{'has-legend': has_legend}">
								<leaflet id="leafletCampaign" defaults="campaign.leaflet.defaults" markers="campaign.leaflet.markers" center="campaign.leaflet.center" cluster-options="clusterOptions" width="100%"></leaflet>
								<div class="legend-holder" ng-if="campaign.secondary_tags.length > 0">
									<div class="expand" ng-click="expandLegend()" ng-show="showLegendExpandLink">ver todas</div>
									<div class="contract" ng-click="contractLegend()" ng-show="showLegendContractLink">cerrar</div>
									<div class="tag-list">
										<div class="tag-legend" ng-repeat="tag in campaign.secondary_tags" da-on-last-repeat="onLegendRender()">
											<span class="color-sample" style="background-color: {{colorRange[$index]}}"></span>
											<span class="tag">#{{tag.tag}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="&nbsp;" class="glyphicon glyphicon-camera datea-glyphtab-fix" ng-show="campaign.dateosWithImages.length > 0">
					<div class="dateos-with-images-holder dateo-img-viz"> <!-- ng-style="campaign.dateosWithImagesHolderHeight"> -->
						<da-dateo-thumb ng-repeat="dateo in campaign.dateosWithImages"></da-dateo-thumb>
					</div>
				</tab>
				<tab heading="&nbsp;" class="glyphicon glyphicon-signal datea-glyphtab-fix" ng-click="buildCharts()">
					<div class="dateo-stats-holder" ng-if="statsVisible">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<div class="inner">
										<div class="chart-type-select pull-right">
											<select class="form-control" ng-model="chart.typeControl" ng-change="changeChartType()">
												<option value="pie">Pie</option>
												<option value="bar">Barras</option>
											</select>
										</div>
										<div data-ac-chart="chart.type" data-ac-data="chart.data" data-ac-config="chart.config" class="viz-simple-chart"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>



	<div class="extra-info-holder container-fluid">
		<div class="row">
			<div class="col-xs-4">
				<div class="description">
					<div class="user-info">
						<div class="parts-holder">
							<div class="part part-1">
								<div class="user-img img-circle" da-bg-from-api="{{campaign.user.image}}" da-img-size="cover" da-img-type="user"></div>
							</div>
							<div class="part part-2">
								<p>dater@</p>
								<h3>{{campaign.user.username}}</h3>
							</div>
						</div>
						<h4>#{{campaign.main_tag.tag}}</h4>
						<p class="question">¿Qué buscamos con esta acción?</p>
						<p class="answer answer1" ng-bind-html="campaign.mission | linky:'_blank'"></p>
						<p class="question">¿Qué pasa con la info?</p>
						<p class="answer answer2" ng-bind-html="campaign.information_destiny | linky:'_blank'"></p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
				<div class="social">
					<div class="parts-holder">
						<div class="part part-1">
							<h5>{{campaign.follow_count}} <ng-pluralize count="campaign.follow_count" when="{'one':'seguidor','other':'seguidores'}"></ng-pluralize></h5>
							<!--<button class="btn datea-btn">invita a tus amigos</button>-->
							<div class="followers-holder">
								<a class="follower-image" target="_blank" ng-href="#/{{follower.username}}" ng-repeat="follower in campaign.followers">
									<span da-bg-from-api="{{follower.image}}" da-img-size="cover" da-img-type="user"></span>
								</a>
							</div>
							<!--<button class="btn datea-btn datea-btn-xs see-more-peers">ver todos</button>-->

							<div class="related" ng-if="campaign.relatedCampaigns.length > 0">
								<h5>iniciativas relacionadas</h5>
								<span class="tags" ng-repeat="tag in campaign.relatedCampaigns">#{{tag.tag}}</span>
							</div>
						</div>
						<div class="part part-2">
							<img src="static/images/campaign/btn-print-report.png" alt="imprimir reporte" ng-click="campaign.print()">
							<img src="static/images/campaign/btn-csv-dl.png" alt="descargar csv">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="not-found" ng-if="flow.notFound" ng-include="'views/notFound.html'" ng-hide="!flow.notFound">
</div>
