<div class="change-password-holder">
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
			<div class="form-holder" da-loading="flow.loading" ng-hide="flow.changeSuccess !== null">
				<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
				<h3>{{'PASSW_PAGE.TITLE' | translate}}</h3>
				<form role="form" name="form" class="form" ng-submit="flow.savePasswd()">
					<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.password]">
						<label class="control-label" for="password">{{'PASSW_PAGE.PASS_LABEL' | translate}}</label>
						<input type="password" class="form-control" id="password" wx-validate="password" required pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.password" ng-change="flow.checkPassword()">
						<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.password]" ng-show="flow.validInput.password !== null"></span>
						<p class="help-block">{{'PASSW_PAGE.PASS_DESC' | translate}}</p>
					</div>
					<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.samePassword]">
						<label class="control-label" for="samePassword">{{'PASSW_PAGE.REPEAT_LABEL' | translate}}</label>
						<input type="password" class="form-control" id="samePassword" wx-validate="password" required pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.samePassword" wx-password-match="auth.password" ng-change="flow.checkSamePassword()">
						<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.samePassword]" ng-show="flow.validInput.samePassword !== null"></span>
					</div>
					<input type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" value="Cambiar">
					<button type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" disabled>{{'PASSW_PAGE.SAVE_BTN' | translate}}</button>
				</form>
			</div>
			<div class="form-holder" ng-show="flow.changeSuccess === true">
				<h3>{{'PASSW_PAGE.SUCCESS_TITLE' | translate}}</h3>
				<p>{{'PASSW_PAGE.SUCCESS_MSG' | translate}}</p>
				<a class="btn btn-success btn-lg" href="/signin">{{'LOGIN' | translate}}</a>
			</div>
			<div class="form-holder" ng-show="flow.changeSuccess === false">
			 	<h3>{{'PASSW_PAGE.ERROR_TITLE' | translate}}</h3>
			 	<div class="alert alert-warning">{{'PASSW_PAGE.ERROR_MSG' | translate}}</div>
			 	<a href="/signin" class="btn btn-default btn-lg">{{'PASSW_PAGE.STARTOVER_BTN' | translate}}</a>
			</div> 
		</div>
	</div>
</div>
<div class="graydark-bg"></div>
