<div class="dateo dateo-teaser">
	<div class="parts-holder">
		<div class="user-img part part-1 img-circle" da-bg-from-api="{{dateo.user.image_small}}" da-img-size="cover" da-img-type="user"></div>
		<div class="part part-2 user-info">
			<h4 class="username"><a href="/#/{{dateo.user.username}}">{{dateo.user.username}}</a></h4>
			<div class="date">{{dateo.created | date:'fullDate'}}</div>
		</div>
	</div>
	<p class="tags"><a class="tag" ng-repeat="tag in dateo.tags" href="/#/tag/{{tag.tag}}">#{{tag.tag}}</a></p>
	<p class="content">{{dateo.content}}</p>
	<div class="social-holder">
		<a class="btn" ng-class="{'pull-right datea-btn btn-xs': !map_is_present,'btn-link': map_is_present}" href="#/{{dateo.user.username}}/dateos/{{dateo.id}}" >ver detalle</a>
		<button class="pull-right btn btn-xs datea-btn" ng-if="map_is_present" ng-show="dateo.position" ng-click="dateamap.focusDateo($index)">ver en mapa</button>
		<span class="glyphicon glyphicon-thumbs-up"></span> {{dateo.vote_count}}
		<span class="glyphicon glyphicon-comment"></span> {{dateo.comment_count}}
	</div>
	<hr>
</div>
