 <div class="dateo-detail-holder">

	<div class="graylight-bg"></div>

	<a class="next-dateo dateos-nav" ng-show="dateo.next_by_user" href="/{{dateo.user.username}}/dateos/{{dateo.next_by_user}}"></a>
	<a class="prev-dateo dateos-nav" ng-show="dateo.previous_by_user" href="/{{dateo.user.username}}/dateos/{{dateo.previous_by_user}}"></a>

	<div class="container z2">
			<div class="user-holder">
				<div class="part part-1 img-holder">
					<a href="/{{dateo.user.username}}">
						<img ng-show="dateo.user" class="img-circle" ng-src="{{dateo.user.image_small | imgFromApi}}" alt="{{dateo.user.username}}">
					</a>
				</div><div class="part part-2 data-holder">
					<a href="/{{dateo.user.username}}">
						<h4>{{dateo.user.username}}</h4>
					</a>
					<p class="ff1">{{'DATEO.CREATED_ON' | translate}} {{dateo.created | date:createdFormat}}</p>
				</div>
			</div>
			<div class="content-holder" ng-show="!dateo.message">
				<div class="esquina"></div>
				<div class="row">
				<div class="col-xs-12 col-md-75">
					<div class="inner dateo dateo-detail">
						<div class="admin">
							<div class="unpublished-msg pull-left" ng-show="dateo.id && !dateo.published">{{'DATEO.UNPUBLISHED' | translate}}</div>
							<button class="btn btn-link dateo-edit-btn" ng-show="flow.showEditBtn" ng-click="flow.editDateo()"><i class="fa fa-pencil-square-o"></i></button>
						</div>
						<div class="tag-row">
							<a class="tag" href="/tag/{{tag}}" ng-repeat="tag in dateo.tags">#{{tag}}</a>
						</div>

						<div class="date" ng-show="(!!dateo.date && dateo.date != dateo.created) || forceDate"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{dateo.date | date:dateFormat}}</div>
						
						<p class="dateo-content newline2br" ng-bind-html="dateo.content | linky:'_blank'"></p>
						
						<div class="images" ng-show="dateo.images.length" image-gallery>
							<a href="{{img.image | imgFromApi}}" ng-repeat="img in dateo.images" class="image slide">
								<div class="img" da-bg-from-api="{{img.image}}" da-img-size="cover" ></div>
							</a>
						</div>

						<div class="link" ng-show="dateo.link">
							<i class="fa fa-chain licon"></i>
							<a href="{{dateo.link.url}}" class="limage" ng-show="dateo.link.img_url">
								<img ng-src="{{dateo.link.img_url}}" alt="" />
							</a>
							<div class="lcontent">
								<h4 class="ltitle"><a href="{{dateo.link.url}}">{{dateo.link.title}}</a></h4>
								<p class="ldesc">{{dateo.link.description}}</p>
							</div> 
						</div>

						<div class="files" ng-show="dateo.files.length">
							<a class="file" ng-repeat="file in dateo.files" href="{{file.file | imgFromApi}}">
								<i class="ul-icon glyphicon glyphicon-file"></i>
								<span class="file-title">{{file.title}}</span>
							</a>
						</div>
						
						<div class="social-holder">
							<div class="controls-left pull-left">
								<div class="dateo-actions">
									
									<da-vote vote-obj="dateo" vote-obj-type="dateo"></da-vote>

									<div class="datea-glyph-holder hover-enabled" ng-click="flow.focusCommentForm()">	
										<span class="glyphicon glyphicon-comment datea-glyph"></span> 
										<span class="datea-glyph-text" ng-show="dateo.comment_count > 0">
											<p>{{dateo.comments.length}}</p>
											<p>{{(dateo.comments.length == 1 ? 'COMMENT' : 'COMMENT.COMMENTS') | translate}}</p>
										</span>
									</div>

									<da-redateo dateo="dateo"></da-redateo>

									<div class="datea-glyph-holder hover-enabled share-btn" ng-click="flow.share()">
										<i class="fa fa-share-alt"></i>
									</div>
								</div>
							</div>
							<div class="controls-right">
								<span class="glyphicon glyphicon-print pull-right datea-glyph datea-glyph-2 green-hover" ng-click="flow.print()"></span>
								<!--<div class="form-group pull-right share">
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" value="{{dateo.shareableUrl}}">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="dateo.share()"><i class="fa fa-share-alt"></i></button>
										</span>
									</div>
								</div>-->
								<div class="denounce-holder no-print">
									<da-flag flag-id="dateo.id" flag-obj-type="dateo"></da-flag>
								</div>
							</div>
						</div>
						
						<div class="comments-holder">
							<h3 ng-show="dateo.comments.length > 0">{{'COMMENT.COMMENTS' | translate}}</h3>

							<div class="comments">
								<div class="comment-holder" ng-repeat="comment in dateo.comments" ng-class="{'slidedown': comment.new}" da-on-last-repeat="slideDownComments()">
									<div class="user">
										<img class="img-circle" ng-src="{{comment.user.image_small | imgFromApi}}" alt="{{comment.user.username}}">
										<a href="/{{comment.user.username}}"><span>{{comment.user.username}}</span></a>
										<span class="date">{{'COMMENT.ON' | translate}} {{comment.created | date:dateFormat}}</span>
									</div>
									
									<p class="comment-content newline2br" ng-bind-html="comment.comment | linky:'_blank'"></p>

									<div class="denounce-holder">
										<da-flag flag-id="comment.id" flag-obj-type="comment"></da-flag>
									</div>
								</div>
							</div>

							<div class="comment-form-holder no-print" ng-show="flow.isUserSignedIn">
								<form role="form" name="form">
									<div class="form-group">
										<textarea id="comment-input" ng-disabled="flow.form.loading" class="form-control" msd-elastic="" rows="1" ng-model="flow.form.comment" placeholder="Tu comentario"></textarea>
									</div>
									<button type="submit" class="btn datea-btn" ng-click="flow.postComment()">{{'COMMENT.COMMENT_BTN' | translate}}</button> &nbsp;<i ng-show="flow.form.loading" class="fa fa-circle-o-notch fa-spin"></i>

									<da-follow follow-obj="dateo" follow-id="{{dateo.id}}" follow-label="{{'FOLLOW.FOLLOW_THREAD' | translate}}" btn-class="follow-dateo btn-link pull-right"></da-follow>

								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-45 sidebar" ng-show="!flow.message">
					<div class="side-block" ng-show="dateo.position">
						<h3>{{'DATEO.LOCATION_LABEL' | translate}}</h3>
						<leaflet id="leafletDateo" defaults="flow.leaflet.defaults" markers="flow.leaflet.markers" center="flow.leaflet.center" height="260px" width="100%" tiles="flow.leaflet.tiles"></leaflet>
						<p ng-if="dateo.address">{{dateo.address}}</p>
						<p ng-if="dateo.admin_level1">{{dateo.admin_level1}} > {{dateo.admin_level2}} > {{dateo.admin_level3}}</p>
					</div>
					<div class="side-block related-campaigns" ng-show="flow.campaigns.length > 0">
						<h3>{{'DATEO.RELATED_CAMPAIGNS' | translate}}</h3>
						<div class="tag-row" ng-repeat="camp in flow.campaigns">
							<a class="tag" href="/{{camp.user.username}}/{{camp.slug}}">{{camp.name}}</a>
						</div>
					</div>
				</div>
			</div>
			<span ng-show="flow.message">{{flow.message}}</span>
		</div>
	</div>
</div>
