<div class="dateo dateo-teaser" ng-class="{unpublished: !dateo.published}">
	<div class="teaser-inner">
		<div class="parts-holder">
			<div class="user-img part part-1 img-circle" da-bg-from-api="{{dateo.user.image_small}}" da-img-size="cover" da-img-type="user"></div>
			<div class="part part-2 user-info">
				<h4 class="username"><a href="/#/{{dateo.user.username}}">{{dateo.user.username}}</a></h4>
				<div class="date">{{dateo.created | date:dateFormat}}</div>
			</div>
		</div>

		<div ng-show="mapPresent" class="pin" ng-click="focusDateo()" tooltip="ver en mapa" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="800">
			<span class="glyphicon glyphicon-map-marker"></span>
		</div>

		<p class="tags"><a class="tag" ng-repeat="tag in dateo.tags" href="/#/tag/{{tag.tag}}">#{{tag.tag}}</a></p>
		<p class="content" ng-bind-html="dateo.extract | linky:'_blank'"></p>

		<a class="image" href ng-repeat="img in dateo.images" ng-click="flow.imgDetail(img.image)">
			<img class="part" ng-src="{{img.thumb | imgFromApi}}" alt="sorry">
		</a>
		<div class="link" ng-show="dateo.link">
			<i class="fa fa-chain licon"></i>
			<a href="{{dateo.link.url}}" class="limage" ng-show="dateo.link.img_url">
				<img ng-src="{{dateo.link.img_url}}" alt="" />
			</a>
			<div class="lcontent">
				<h4 class="ltitle"><a href="{{dateo.link.url}}">{{dateo.link.title}}</a></h4>
				<!--<p class="ldesc">{{dateo.link.description}}</p>-->
			</div> 
		</div>

		<div class="files" ng-show="dateo.files.length">
			<a class="file" ng-repeat="file in dateo.files" href="{{file.file | imgFromApi}}">
				<i class="ul-icon glyphicon glyphicon-file"></i>
				<span class="file-title">{{file.title}}</span>
			</a>
		</div>

		<div class="social-holder">
			<!--<a class="btn datea-gray-btn btn-sm pull-right" href="#/{{dateo.user.username}}/dateos/{{dateo.id}}" >ver detalle</a>-->
			<button class="btn datea-gray-btn btn-sm pull-right" ng-click="openDetail()">ver detalle</button>
			<div class="unpublished-msg pull-right" ng-show="!dateo.published">dateo sin publicar</div>
			<span class="stat" ng-show="dateo.vote_count > 0"><span class="glyphicon glyphicon-thumbs-up"></span> {{dateo.vote_count}}</span>
			<span class="stat" ng-show="dateo.comment_count > 0"><span class="glyphicon glyphicon-comment"></span> {{dateo.comment_count}}</span>
			<span class="stat" ng-show="dateo.redateo_count > 0"><span class="glyphicon glyphicon-retweet"></span> {{dateo.redateo_count}}</span>
		</div>
		<div class="redateo-msg" ng-show="flow.showRedateoAuthor && dateo.user.username != flow.showRedateoAuthor">re-dateado por <a href="#/{{flow.showRedateoAuthor}}">{{flow.showRedateoAuthor}}</a></div>
	</div>
	<hr>
</div>
