<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="datear.cancel()">&times;</button>
	<h3>Datea!</h3>
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="modal-body">
	<div class="datear-form-holder">
		<form role="form" name="form">
			<h4>1. Describe tu dateo</h4>
			<div class="form-group">
				<label for="message">Ingrese el contenido de su dateo</label>
				<textarea id="message" class="form-control" rows="3"></textarea>
				<span class="help-block">Introduce el contenido. Si puedes propón una solución</span>
			</div>
			<div class="form-group">
				<label for="image">Suba una imagen</label>
				<input type="file" id="image" fileread="dateo.img" filedata="dateo.imgData" accept="image/*">
				<img ng-show="dateo.img" ng-src="{{dateo.img}}" alt="{{dateo.imgData.name}}" width="200px">
				<button class="btn btn-default" ng-click="datear.img()">img</button>
			</div>
			<hr>
			<h4>2. Ayúdanos a ubicar tu dateo</h4>
			<div class="form-group">
				<label for="address">Dirección o descripción de la ubicación</label>
				<input type="text" class="form-control" id="address" ng-model="dateo.address">
			</div>
			<div class="form-group">
				<label for="map">Arrastre el marcador hasta la ubicación exacta</label>
				<input type="text" class="form-control" id="lng" ng-model="markers.draggy.lng" placeholder="lng hidden">
				<input type="text" class="form-control" id="lat" ng-model="markers.draggy.lat" placeholder="lat hidden">
			</div>
			<leaflet defaults="defaults" markers="markers" center="center" height="400px" width="550px"></leaflet>
			<hr>
			<h4>3. Etiqueta tu dateo</h4>
			<h5>etiquetas sugeridas</h5>
			<div class="btn-group">
				<button type="button" class="btn btn-default">#laterGram</button>
				<button type="button" class="btn btn-default">#selfie</button>
				<button type="button" class="btn btn-default">#sorryNotSorry</button>
			</div>
			<h5>buscar / agregar etiquetas</h5>
			<div class="form-group">
				<div class="input-group col-sm-6">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">+</button>
					</span>
				</div>
			</div>
			<div class="well">
				<h5>Etiquetas seleccionadas</h5>
				<span class="label label-default"><a href="#">[x]</a>#noFilter</span>
				<span class="label label-default"><a href="#">[x]</a>#trending</span>
				<span class="label label-default"><a href="#">[x]</a>#hashtag</span>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="datear.ok()">OK</button>
	<button class="btn btn-default" ng-click="datear.cancel()">Cancel</button>
</div>