<div class="dateo-thumb">
	<div class="inner">
	  <div class="img-holder" da-bg-from-api="{{dateo.images[0].image}}" da-img-size="cover"></div>
		<div class="info-bg"></div>
		<div class="info-holder">
			<div class="parts-holder">
				<div class="part part-1">
					<div class="user-img img-circle" da-bg-from-api="{{dateo.user.image}}" da-img-type="user" da-img-size="cover"></div>
				</div>
				<div class="part part-2">
					<h5>{{dateo.user.username}}</h5>
					<div class="date">{{dateo.date | date:'fullDate'}}</div>
				</div>
			</div>
			<p class="extract" ng-bind-html="dateo.extract | linky:'_blank'"></p>
			<div class="stat-holder">
				<span class="stat" ng-show="dateo.vote_count"><i class="glyphicon glyphicon-thumbs-up"></i> {{dateo.vote_count}}</span>
				<span class="stat" ng-show="dateo.comments.length"><i class="glyphicon glyphicon-comment"></i> {{dateo.comments.length}}</span>
				<span class="stat" ng-show="dateo.redateo_count"><i class="glyphicon glyphicon-retweet"></i> {{dateo.redateo_count}}</span>
				<a href="/{{dateo.user.username}}/dateos/{{dateo.id}}" class="btn datea-btn btn-xs pull-right">ver detalle</a>
			</div>
		</div>
	</div>
</div>
