<div class="dateo-detail-holder" ng-hide="flow.notFound">

	<div class="graylight-bg"></div>
	<div class="container z2">
			<div class="user-holder">
				<div class="part part-1 img-holder">
					<img ng-show="dateo.user" class="img-circle" ng-src="{{dateo.user.image_small | imgFromApi}}" alt="{{dateo.user.username}}">
				</div><div class="part part-2 data-holder">
					<a href="#/{{dateo.user.username}}">
						<h4>{{dateo.user.username}}</h4>
					</a>
					<p class="ff1">el {{dateo.created | date:dateFormat}}</p>
				</div>
				<div class="next-holder pull-right no-print" ng-show="dateo.next_by_user">
					<a href ng-click="dateo.nextDateo()">ver {{ dateo.messageNext }} dateo de {{dateo.user.username}} <i class="glyphicon glyphicon-play"></i></a>
				</div>
			</div>
			<div class="content-holder" ng-show="!dateo.message">
				<div class="esquina"></div>
				<div class="row">
				<div class="col-xs-12 col-md-75">
					<div class="inner dateo dateo-detail">
						<div class="unpublished-msg" ng-show="!dateo.published">dateo sin publicar</div>
						<div class="tag-row">
							<a class="tag" href="#/tag/{{tag.tag}}" ng-repeat="tag in dateo.tags">#{{tag.tag}}</a>
						</div>
						
						<p class="dateo-content newline2br" ng-bind-html="dateo.content | linky:'_blank'"></p>
						
						<a href ng-repeat="img in dateo.images" ng-click="dateo.imgDetail(img.image)" class="image">
							<img class="part" ng-src="{{img.image | imgFromApi}}" alt="sorry">
						</a>

						<div class="link" ng-show="dateo.link">
							<i class="fa fa-chain licon"></i>
							<a href="{{dateo.link.url}}" class="limage" ng-show="dateo.link.img_url">
								<img src="{{dateo.link.img_url}}" alt="" />
							</a>
							<div class="lcontent">
								<h4 class="ltitle"><a href="{{dateo.link.url}}">{{dateo.link.title}}</a></h4>
								<p class="ldesc">{{dateo.link.description}}</p>
							</div> 
						</div>

						<div class="files" ng-show="dateo.files.length">
							<a class="file" ng-repeat="file in dateo.files" href="{{file.file | imgFromApi}}">
								<i class="ul-icon glyphicon glyphicon-file"></i>
								<span class="file-title">{{file.title}}</span>
							</a>
						</div>
						
						<div class="social-holder">
							<div class="controls-left pull-left">
								<div class="dateo-actions">
									<da-vote vote-obj="dateo" vote-id="dateo.id" vote-count="dateo.vote_count"></da-vote>

									<div class="datea-glyph-holder hover-enabled" ng-click="flow.focusCommentForm()">	
										<span class="glyphicon glyphicon-comment datea-glyph"></span> <span class="datea-glyph-text" ng-show="dateo.comment_count > 0"><p>{{dateo.comments.length}}</p><p><ng-pluralize count="dateo.comments.length" when="{'one':
										'comentario','other':'comentarios'}"></ng-pluralize></p></span>
									</div>

									<da-redateo dateo="dateo"></da-redateo>

									<div class="datea-glyph-holder hover-enabled share-btn" ng-click="flow.share()">
										<i class="fa fa-share-alt"></i>
									</div>
								</div>
							</div>
							<div class="controls-right">
								<span class="glyphicon glyphicon-print pull-right datea-glyph datea-glyph-2 green-hover" ng-click="dateo.print()"></span>
								<!--<div class="form-group pull-right share">
									<div class="input-group input-group-sm">
										<input type="text" class="form-control" value="{{dateo.shareableUrl}}">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button" ng-click="dateo.share()"><i class="fa fa-share-alt"></i></button>
										</span>
									</div>
								</div>-->
								<div class="denounce-holder no-print">
									<a class="denounce" href="" ng-click="dateo.denounce( 'dateo', $event )">denunciar</a>
								</div>
							</div>
						</div>
						
						<div class="comments-holder">
							<h3 ng-show="dateo.comments.length > 0">Comentarios</h3>

							<div class="comments">
								<div class="comment-holder" ng-repeat="comment in dateo.comments">
									<div class="user">
										<img class="img-circle" ng-src="{{comment.user.image_small | imgFromApi}}" alt="{{comment.user.username}}">
										<a href="#/{{comment.user.username}}"><span>{{comment.user.username}}</span></a>
										<span class="date">el {{comment.created | date:'fullDate'}}</span>
									</div>
									
									<p class="comment-content newline2br">{{comment.comment | linky}}</p>

									<div class="denounce-holder">
										<a class="denounce" href="" ng-click="dateo.denounce( 'comment', $event )">denunciar</a>
									</div>
								</div>
							</div>

							<div class="comment-form-holder no-print" ng-show="dateo.isUserSignedIn">
								<form role="form" name="form">
									<div class="form-group">
										<textarea id="message" class="form-control" msd-elastic="" rows="1" ng-model="dateo.form.comment" placeholder="Tu comentario"></textarea>
									</div>
									<button type="submit" class="btn datea-btn" ng-click="dateo.postComment()">Comentar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-45 sidebar" ng-show="!dateo.message">
					<div class="side-block" ng-show="dateo.position">
						<h3>Ubicación</h3>
						<leaflet id="leafletDateo" defaults="dateo.leaflet.defaults" markers="dateo.leaflet.markers" center="dateo.leaflet.center" height="260px" width="100%" tiles="dateo.leaflet.tiles"></leaflet>
						<p ng-if="dateo.address">{{dateo.address}}</p>
						<p ng-if="dateo.admin_level1">{{dateo.admin_level1}} > {{dateo.admin_level2}} > {{dateo.admin_level3}}</p>
					</div>
					<div class="side-block related-campaigns" ng-show="dateo.campaigns.length > 0">
						<h3>Iniciativas relacionadas</h3>
						<div class="tag-row">
							<a class="tag" href="#/{{camp.username}}/{{camp.tag}}" ng-repeat="camp in dateo.campaigns">{{camp.name}}</a>
						</div>
					</div>
				</div>
			</div>
			<span ng-show="dateo.message">{{dateo.message}}</span>
		</div>
	</div>
</div>
<div class="not-found-holder" ng-if="flow.notFound" ng-include="'views/notFound.html'" ng-show="flow.notFound">
</div>
