<div class="modal-body embed-build-holder">
<h3>{{'EMBED_BUILDER.TITLE' | translate}}</h3>

<p>{{'EMBED_BUILDER.SUBTITLE' | translate}}</p>

<textarea rows="3" class="form-control"><iframe width="{{embed.widthResult}}" height="{{embed.height}}" src="{{embed.baseUrl}}{{embed.path}}" frameborder="0" allowfullscreen></iframe> 
</textarea>
<br><br>
<p>{{'EMBED_BUILDER.INSTRUCTIONS' | translate}}</p>
<div class="form-group size-control">
	<label>{{'EMBED_BUILDER.WIDTH' | translate}}</label>
	<input class="form-control number" type="text" ng-model="embed.widthResult" ng-blur="flow.changeWidthResult()" ng-enter="flow.changeWidthResult()"> <input type="range" name="width" step="50" class="slider" ng-model="embed.width" min="{{embed.minWidth}}" max="{{embed.maxWidth}}" >
</div>

<div class="form-group size-control">
	<label>{{'EMBED_BUILDER.HEIGHT' | translate}}</label>
	<input class="form-control number" type="text" ng-model="embed.height" ng-blur="flow.changeHeightResult()" ng-enter="flow.changeHeightResult()"> <input type="range" name="height" step="50" class="slider" ng-model="embed.height" min="{{embed.minHeight}}" max="{{embed.maxHeight}}" >
</div>

</div>
