<button class="follow-btn btn {{btn_class}}" ng-click="do_follow_action()" ng-mouseenter="hover = true; following_changed = false" ng-mouseleave="hover = false; following_changed = false" ng-init="hover = false" ng-class="{'remove': (hover && is_following) || removing}">
	<i ng-show="loading" class="icon loading-icon fa fa-circle-o-notch fa-spin"></i>
	<span ng-show="!is_following"><span ng-hide="loading" class="icon glyphicon glyphicon-plus"></span> seguir</span>
	<span ng-show="is_following && (hover || loading) && !following_changed"><span ng-hide="loading" class="icon glyphicon glyphicon-remove"></span> siguiendo</span>
	<span ng-show="is_following && ((!hover && !loading) || following_changed)"><span ng-hide="loading" class="icon glyphicon glyphicon-ok"></span> siguiendo</span>
</button>
