<div class="part part-1">
	<div class="homeSI-map-holder">
		<div class="map-frame-top map-frame">
			<h5>viendo:</h5>
			<div class="form-group col-sm-2">
				<select class="form-control">
					<option value="1">1</option>
				</select>
			</div>
			<div class="form-group">
				<div class="input-group col-sm-2">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
			</div>
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-th-list"></i></button>
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-map-marker"></i></button>
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-camera"></i></button>
		</div>
		<leaflet defaults="defaults" markers="markers" center="center" width="600px" height="450px"></leaflet>
		<div class="map-frame-bottom map-frame">
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-left"></i>anterior</button>
			<button class="btn btn-default" type="button">siguiente<i class="glyphicon glyphicon-chevron-right"></i></button>
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-share"></i></button>
			<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-fullscreen"></i></button>
		</div>
	</div>
	<tabset>
		<tab heading="Iniciativas">
			<div class="campaigns-holder">
				<div class="form-group">
					<div class="input-group col-sm-4">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
						</span>
					</div>
				</div>
				<h3>Iniciativas destacadas</h3>
				<button class="btn btn-default">Crear iniciativa</button>
				<hr>
				<div class="campaign" ng-repeat="campaign in homeSI.campaigns">
					<div class="campaign-img" bg-from-api="{{campaign.image.image}}" ></div>
					<h4>{{campaign.name}}</h4>
					<span class="dateo-count">{{campaign.dateo_count}} dateos</span>
					<span class="status">{{campaign.is_active && 'activo' || 'inactivo'}}</span>
				</div>
				<hr>
				<pagination boundary-links="true" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" page="pagination.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			</div>
		</tab>
		<tab heading="Novedades">
			Acá irán las novedades
		</tab>
	</tabset>
</div><div class="part part-2">
	<div class="well user-info">
		<img src="{{user.image}}" alt="{{user.username}}">
		<h3>{{user.username}}</h3>
		<span class="dateos-count">{{user.dateo_count}} dateos</span>
		<span class="votes-count">{{user.votes.length}} apoyos</span>
		<button class="btn btn-success" ng-click="flow.datear()">Datea<i class="glyphicon glyphicon-comment"></i></button>
		<a href="/profile">Mi perfil</a>
		<a href>Mis dateos</a>
	</div>
	<div class="user-follows">
		<h4>{{user.username}} sigue</h4>
		<span class="user-tag">
			<a href="#/tag/tocamientos">#tocamientos</a>
		</span>
		<span class="user-tag" ng-repeat="tag in user.follows">
			<a href="/tag/{{tag.tag}}">{{tag.tag}}</a>
		</span>
	</div>
	<div class="trending-tags-holder">
		<h5>mas dateado en este momento:</h5>
		<ul class="trending-tags">
			<li class="trending-tag" ng-repeat="tag in homeSI.trendingTags">
				<a href="#/tag/{{tag.tag}}">#{{tag.tag}}</a>
			</li>
		</ul>
	</div>
	<div class="user-history-holder">
		<h5>historial</h5>
		<ul class="user-history">
			<li class="user-history-item" ng-repeat="item in homeSI.history">
				<a href="#{{item._url}}" >{{item._message}}</a>
				<p>{{item.data.extract}}</p>
			</li>
		</ul>
	</div>
	<div class="weekly-dateo well">
		<div class="user-img" bg-from-api="{{homeSI.weeklyDateo.user.image.image}}"></div>
		<h4>{{homeSI.weeklyDateo.user.username}}</h4>
		<span class="date">{{homeSI.weeklyDateo.created | date:'fullDate'}}</span>
		<p>{{homeSI.weeklyDateo.extract}}</p>
		<div class="weekly-dateo-img" bg-from-api="{{homeSI.weeklyDateo.images[$index].image}}" ng-repeat="img in homeSI.weeklyDateo.images"></div>
		<button class="btn btn-default"><i class="glyphicon glyphicon-thumbs-up"></i> {{homeSI.weeklyDateo.vote_count}}</button>
		<button class="btn btn-default"><i class="glyphicon glyphicon-comment"></i> {{homeSI.weeklyDateo.comment_count}}</button>
		<a class="btn btn-default" href="#{{homeSI.weeklyDateo.url}}">ver detalle</a>
	</div>
</div>
