<div class="landing-holder" ng-controller="LandingCtrl">
	<div class="section-holder section-holder-1">
		<div class="container section section-1">
			<div class="social-holder pull-right ff1">
				Síguenos <a href="//facebook.com/somosdateros" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a> <a href="//twitter.com/somosdateros" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
			</div>
			<h1 class="main-heading ff2"> <img src="static/images/logo.png" alt="datea"> todos somos dateros </h1>
			<div class="slogan ff1">tu lugar para compartir info útil con tu comunidad</div>
		</div>
	</div>
	<div class="section-holder section-holder-2">
		<div class="container section section-2">
			<div class="part-holder">
				<div class="part part-1">
					<div class="dateros ff1">
						<img src="static/images/landing/dateros-count.png" alt="dateros"> <span class="number">{{landing.user_count}}</span> dateros
					</div>
					<p class="question">¿No eres dater@?</p>
					<a href="#/registrate" class="btn datea-btn btn-lg btn-login-landing ff1">
						regístrate
					</a>
				</div>
				<div class="part part-2">
					<div class="dateos ff1">
						<img src="static/images/landing/dateo-count.png" alt="dateos"> <span class="number">{{landing.dateo_count}}</span> dateos
					</div>
					<p class="question">¿Ya tienes cuenta?</p>
					<a href="#/signin" class="btn datea-btn btn-lg btn-login-landing ff1">
						ingresa
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-holder section-holder-3 ff1">
		<div class="container section section-3">
			<h3 class="ff1">datear</h3>
			<div class="parts-holder">
				<div class="part part-1">
					<div class="icon icon-1"></div>
					Es al toque
				</div>
				<div class="part part-2">
					<div class="icon icon-2"></div>
					Visualiza temas y soluciones desde diversos puntos de vista.
				</div>
				<div class="part part-3">
					<div class="icon icon-3"></div>
					Te conecta con tu comunidad y los que quieren mejorar la ciudad
				</div>
			</div>
		</div>
	</div>

	<div class="section-holder section-holder-4 ff1">
		<div class="container section section-4">
			<h3 class="ff1">cómo funciona</h3>
			<div class="parts-holder howitworks-holder">
				<div class="part part-1">
					<div class="icon icon-1"></div>
					<div class="step step-1">
						<span class="step-number">1</span>
						<span class="step-emphasis">si tienes un dato</span>
						<span class="step-content">para mejorar la ciudad, compártelo!</span>
					</div>
				</div>
				<div class="part part-2">
					<div class="icon icon-2"></div>
					<div class="step step-2">
						<span class="step-number">2</span>
						<span class="step-emphasis">crea iniciativas</span>
						<span class="step-content">sobre temas relevantes</span>
					</div>
				</div>
				<div class="part part-3">
					<div class="icon icon-3"></div>
					<div class="step step-3">
						<span class="step-number">3</span>
						<span class="step-emphasis">navega y visualiza</span>
						<span class="step-content">dateos en mapas y gráficas</span>
					</div>
					<div class="btn datea-btn ff1">más información</div>
				</div>
			</div>
			<div class="parts-holder meta-info-holder">
				<div class="part part-1 most-dateo">
					<h4 class="ff1">lo más dateado</h4>
					<div class="btn datea-btn ff1">ir a mapa de dateos</div>
					<div class="trending-tags-holder">
						<a class="datea-tag-btn trending-tag" ng-href="#/tag/{{tag.tag}}" ng-repeat="tag in landing.trendingTags">
							#{{tag.tag}}
						</a>
					</div>
				</div>
				<div class="part part-2 outstanding-dateo-holder">
					<h4 class="ff1">dateo destacado</h4>
					<da-dateo-outstanding ng-repeat="dateo in [landing.outstandingDateo]"></da-dateo-outstanding>
				</div>
			</div>
		</div>
	</div>
	<div class="section-holder section-holder-5 ff1">
		<div class="container section section-5">
			<h3 class="ff1">iniciativas destacadas</h3>
			<div class="campaigns-holder row">
				<div class="col-xs-3" ng-repeat="campaign in landing.outstandingCampaigns">
					<da-campaign-teaser></da-campaign-teaser>
				</div>
			</div>
			<a class="btn btn-lg datea-btn ff1 more-campaigns-btn" href="#/iniciativas">ver iniciatvias</a>
		</div>
	</div>
	<div class="section-holder section-holder-6 ff1">
		<div class="container section section-6">
			<h3 class="ff1">apps para iphone y android</h3>
			<div class="parts-holder">
				<div class="part part-1">
					<div class="icon icon-1"></div>
					<p>Datea al toque desde cualquier lugar</p>
				</div>
				<div class="part part-2">
					<div class="icon icon-2"></div>
					<p>Navega dateos mientras te mueves por la ciudad</p>
				</div>
				<div class="part part-3">
					<a href="apple.com/appstore">
						<div class="icon appstore-icon"></div>
					</a>
					<a href="google.com/playstore">
						<div class="icon playstore-icon"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
