<div class="homeSI-holder container-fluid">
	<div class="row">

		<div class="col-lg-8">
			<div class="homeSI-map-holder" ng-class="{ 'datea-loading': homeSI.loading.leaflet }" id="homeSI-map-holder">
				<div class="map-frame-top map-frame">
					<div class="form-group search-box">
						<form ng-submit="homeSI.searchDateos()">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="buscar" ng-model="homeSI.searchDateosKeyword">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" ng-click="homeSI.searchDateos()"><i class="glyphicon glyphicon-search"></i></button>
								</span>
							</div>
						</form>
					</div>
					<span class="order-by-label">ordernar por:</span>
					<div class="form-group">
						<select class="selectpicker span1 bar-orderby" data-style="btn-link" name="orderBy" ng-model="homeSI.selectedMarker" ng-change="homeSI.onSelectFilterChange()">
							<option value="last">últimos</option>
							<option value="mostVoted">más apoyados</option>
							<option value="mostCommented">más comentados</option>
						</select>
					</div>
					<button class="btn btn-default pull-right" type="button" ng-click="homeSI.searchDateosWithImages()"><i class="glyphicon glyphicon-camera"></i></button>
					<button class="btn btn-default pull-right" type="button" ng-click="homeSI.geolocate()"><i class="glyphicon glyphicon-map-marker"></i></button>
				</div>
				<leaflet class="leaflet-map" id="leafletHomeSI" defaults="homeSI.leaflet.defaults" bounds="homeSI.leaflet.bounds" markers="homeSI.leaflet.markers" center="homeSI.leaflet.center" width="100%"></leaflet>
				<div class="map-frame-bottom map-frame">
					<button class="btn btn-default fix-center" type="button" ng-click="homeSI.focusNextMarker( { direction : 0 } )"><i class="glyphicon glyphicon-chevron-left"></i></button>
					<button class="btn btn-default" type="button" ng-click="homeSI.focusNextMarker( { direction : 1 } )"><i class="glyphicon glyphicon-chevron-right"></i></button>
					<button class="btn btn-default pull-right" type="button" ng-click="homeSI.fullscreen()"><i class="glyphicon glyphicon-fullscreen"></i></button>
					<button class="btn btn-default pull-right" type="button" ng-click="flow.share()"><i class="glyphicon glyphicon-share"></i></button>
				</div>
			</div>

					<div class="campaigns-holder" ng-class="{'datea-loading': homeSI.loading.campaigns }">
						
						<form ng-submit="homeSI.searchCampaigns()" class="pull-right search-form">
							<div class="form-group search-box">
								<div class="input-group span4">
									<input type="text" class="form-control" placeholder="buscar" ng-model="homeSI.searchCampaignsKeyword">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="homeSI.searchCampaigns()"><i class="glyphicon glyphicon-search"></i></button>
									</span>
								</div>
							</div>
						</form>

						<div class="campaign-title">
							<h2>INICIATIVAS</h2>
							<a class="btn datea-btn ff1" href="#/crear-iniciativa">Crear iniciativa</a>
						</div>

	<!-- 					<button class="btn btn-default">Crear iniciativa</button> -->
						<div class="campaign-list row">
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="campaign in homeSI.campaigns">
								<da-campaign-teaser></da-campaign-teaser>
							</div>
						</div>

						<pagination boundary-links="true" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" max-size="5" page="pagination.currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
					
					</div>

		</div>

		<div class="col-lg-4 homeSI-meta-holder ">
			
			<div class="block block-1">

				<div class="user-info ff1">
					<div class="inner">
						<div class="parts-holder">
							<div class="part part-1">
								<img src="{{user.image | imgFromApi}}" alt="{{user.username}}" class="img-circle">
							</div>
							<div class="part part-2">
								<h3>{{user.username}}</h3>
								<span class="dateos-count" ng-if="user.dateo_count > 0">{{user.dateo_count}} <ng-pluralize count="user.dateo_count" when="{'one':
								'dateo','other':'dateos'}"></ng-pluralize> </span>
								<span class="votes-count" ng-if="user.votes.length > 0">{{user.votes.length}} <ng-pluralize count="user.votes.length" when="{'one':
								'apoyo','other':'apoyos'}"></span>
							</div>
						</div>
						<div class="clearfix">
							<div class="pull-right">
								<button class="btn datea-datear-btn btn-lg" ng-click="flow.datear()">Datea<i class="glyphicon glyphicon-map-marker"></i></button>
							</div>
							<!--<a class="btn datea-btn ff1" href="#/crear-niciativa">Crear iniciativa</a>-->
							<div class="user-menu">
								<a href="#/{{user.username}}">Mi perfil</a>
							</div>
						</div>
					</div>
				</div>

				<div class="user-follows ff1" ng-if="homeSI.followingTags.length > 0">
					<h5>etiquetas que sigo:</h5>
					<div class="tag-buttons">
						<a class="datea-tag-btn user-tag" ng-href="#/tag/{{tag.tag}}" ng-repeat="tag in homeSI.followingTags">
							#{{tag.tag}}
						</a>
					</div>
				</div>
				

				<div class="trending-tags-holder ff1" ng-if="homeSI.trendingTags.length > 0">
					<h5>mas dateado en este momento:</h5>
					<div class="tag-buttons">
						<a class="datea-tag-btn trending-tag" ng-href="#/tag/{{tag.tag}}" ng-class="{followable: tag._followable}" ng-repeat="tag in homeSI.trendingTags">
							#{{tag.tag}}
						</a>
					</div>
				</div>
				

				<div class="user-history-holder ff1">
					<h5>historial:</h5>
					<ul class="user-history">
						<li class="user-history-item" ng-repeat="item in homeSI.history">
							<a href="#{{item._url}}" >{{item._message}}</a>
							<p>{{item.data.extract}}</p>
						</li>
					</ul>
				</div>
			</div>
			<hr>


			<div class="weekly-dateo-holder">
				<h4>dateo de la semana</h4>
				<div class="weekly-dateo">
					<div class="parts-holder">
						<div class="part part-1">
							<div class="user-img img-circle" da-bg-from-api="{{homeSI.weeklyDateo.user.image.image}}" da-img-type="user" da-img-size="cover"></div>
						</div>
						<div class="part part-2">
							<h4>{{homeSI.weeklyDateo.user.username}}</h4>
							<span class="date">el {{homeSI.weeklyDateo.created | date:'fullDate'}}</span>
						</div>
					</div>
					<p>{{homeSI.weeklyDateo.extract}}</p>
					<div class="weekly-dateo-img" bg-from-api="{{homeSI.weeklyDateo.images[$index].image}}" ng-repeat="img in homeSI.weeklyDateo.images"></div>
					<div class="icon-holder part">
						<span class="glyphicon glyphicon-thumbs-up"></span> {{homeSI.weeklyDateo.vote_count}}
					</div>
					<div class="icon-holder part">
						<span class="glyphicon glyphicon-comment"></span> {{homeSI.weeklyDateo.comment_count}}
					</div>
					<a class="btn datea-btn pull-right ff1" href="#/{{homeSI.weeklyDateo.user.username}}/dateos/{{homeSI.weeklyDateo.id}}">ver detalle</a>
				</div>
			</div>
		</div>

	</div>
</div>
