		<nav class="navbar navbar-default" role="navigation" >
			<a class="navbar-brand absolute-TopLeft" href="#"><img height="38px" ng-src="http://datea.pe/static/img/datea/logo_header2.png" alt="Logo datea.pe">
			</a>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="nav.isCollapsed = !nav.isCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>				
			</div>
			<div class="navbar-collapse collapse side-right" collapse="nav.isCollapsed">
				<ul class="nav navbar-nav">
					<li ng-show="nav.visible"><a href="#/">Inicio</a></li>
					<li><a href="#/dateos">Dateos</a></li>
					<li><a href="#/iniciativas">Iniciativas</a></li>
					<li><a href="#/acerca">Acerca</a></li>
					<li><a href="#/ayuda">Ayuda</a></li>
					<li ng-show="nav.visible"><button type="button" class="btn btn-success navbar-btn" ng-click="nav.datear()">Datea</button></li>
					<li ng-show="!nav.visible"><button type="button" class="btn btn-success navbar-btn" ng-click="nav.signIn()">Ingresa</button></li>
					<li ng-show="nav.visible" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img ng-src="http://static.tvtropes.org/pmwiki/pub/images/myles-avatar-awesome-face.png_100.jpeg" alt="" height="25px">
						{{ user.username }}
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Acción 1</a></li>
							<li><a href="#" ng-click="nav.signOut()" >Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>