<nav class="navbar navbar-default datea-navbar navbar-fixed-top" role="navigation" ng-show="nav.visible">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img ng-src="static/images/datea_logo.png" alt="datea.pe">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="nav.isCollapsed = !nav.isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse pull-right" uib-collapse="!nav.isCollapsed">
			<ul class="nav navbar-nav ff1">
				<li ng-show="nav.visible"><a href="/buscar">{{'MENU_TOP.SEARCH' | translate}}</a></li>
				<li ng-show="nav.visible"><a href="/iniciativas">{{'MENU_TOP.CAMPAIGNS' | translate}}</a></li>
				<li ng-show="nav.isCampaign"><a href="" ng-click="nav.loadEmbedBuilder()">Embed</a></li>
				<li ng-show="nav.visible"><a href="http://blog.datea.pe">{{'MENU_TOP.BLOG' | translate}}</a></li>
				<li ng-show="nav.visible"><a href="/acerca">{{'MENU_TOP.ABOUT' | translate}}</a></li>
				<li ng-show="nav.visible"><a href="http://ayuda.datea.pe">{{'MENU_TOP.HELP' | translate}}</a></li>
<!-- 				<li ng-show="nav.visible"><button type="button" class="btn datea-datear-btn navbar-btn" ng-click="nav.datear()">Datea<i class="glyphicon glyphicon-map-marker"></i></button></li> -->
<!-- 				<li ng-show="!nav.visible"><button type="button" class="btn btn-success navbar-btn" ng-click="nav.signIn()">Ingresa</button></li> --> 
				<li ng-show="nav.isSignedIn" class="user-ctrl dropdown" dropdown>
						<a href class="dropdown-toggle" dropdown-toggle>
							<img ng-src="{{ user.image | imgFromApi }}" alt="" height="38px" class="img-circle">
							<!--{{ user.username }}-->
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a href="/{{ user.username }}"><i class="fa fa-user"></i> {{'USER_MENU.GOTO_PROFILE' | translate}}</a></li>
							<li><a href="/configuracion"><i class="fa fa-cog"></i> {{'USER_MENU.CONFIG' | translate}}</a></li>
							<li class="divider"></li>
							<li><a href="/crear-iniciativa">{{'USER_MENU.CREATE_CAMPAIGN' | translate}}</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="nav.signOut()" analytics-on="click" analytics-event="Logout"><i class="fa fa-sign-out"></i> {{'USER_MENU.LOGOUT' | translate}}</a></li>
						</ul>
				</li>
				<li ng-show="!nav.isSignedIn" class="user-login">
					<a class="btn btn-default btn-nav-login" href="/signin"><i class="fa fa-sign-in"></i> {{'LOGIN' | translate}}</a>
				</li>
			</ul>
		</div>
		<span ng-show="nav.isSignedIn"><datear-btn btn-class="nav-btn"></datear-btn></span>
	</div>
</nav>
<alert class="general-alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

