<div class="widget-btn redateo-btn datea-glyph-holder can-delete" ng-click="flow.doRedateo()" ng-class="{'active': flow.isActive, 'disabled': flow.disabled, 'loading': flow.loading, 'hover-enabled': flow.hoverEnabled}" ng-mouseleave="flow.onMouseLeave()">
	<span class="check glyphicon glyphicon-ok"></span>
	<span class="delete">&times;</span>
	<i class="fa fa-circle-o-notch fa-spin" ng-show="flow.loading"></i>
	<i class="disabled-icon fa fa-ban"></i>
	<span class="glyphicon glyphicon-retweet datea-glyph" ng-hide="flow.loading" tooltip="{{'REDATEO.TT' | translate}}" tootltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-popup-delay="500"></span> <span class="datea-glyph-text" ng-show="dateo.redateo_count > 0"><p>{{dateo.redateo_count}}</p> <p>{{(dateo.redateo_count == 1 ? 'REDATEO' : "REDATEO.REDATEOS") | translate}}</p></span>
</div>
