<h3>Ingresar</h3>
<form role="form" name="form" ng-submit="auth.signIn()" ng-show="!auth.resetPasswordCheckbox">
	<div class="form-group" ng-show="!auth.resetPasswordCheckbox">
		<label for="username">usuario</label>
		<input type="text" class="form-control" id="username" wx-validate="username" pattern="^[A-Za-z0-9]{3,10}$" ng-required="auth.passwordRequired" formText ng-model="auth.username">
	</div>
	<div class="form-group" ng-show="!auth.resetPasswordCheckbox">
		<label for="password">password</label>
		<input type="password" class="form-control" id="password" wx-validate="password" ng-required="auth.passwordRequired" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.password">
	</div>
	<input type="submit" class="btn btn-info" value="Ingresar" ng-show="form.$valid">
	<button class="btn btn-info" ng-disabled="true">Ingresar</button>
	<span ng-bind="auth.message"></span>
</form>
<form role="form" name="form" ng-submit="auth.resetPassword()" ng-show="auth.resetPasswordCheckbox">
	<div class="form-group" ng-show="auth.resetPasswordCheckbox">
		<label for="email">email</label>
		<input type="email" class="form-control" id="email" wx-validate="email" ng-required="auth.passwordRequired" formText ng-model="reset.email">
	</div>
	<input type="submit" class="btn btn-info" value="Enviar">
</form>
<div class="checkbox">
	<label>
		<input type="checkbox" ng-model="auth.resetPasswordCheckbox" ng-click="flow.toggleResetPassword()"> recuperar contraseña
	</label>
</div>
<button class="btn btn-default signup-cta" ng-click="auth.withFacebook()">Facebook</button>
<button class="btn btn-default signup-cta" ng-click="auth.withTwitter()">Twitter</button>
<hr>
<pre>Validation: {{form.$error|json}}</pre>