<div class="graydark-bg"></div>
<div class="signup-form-holder">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="row signup-form wbox" ng-show="!flow.registerSuccess">
					<div class="inner" da-loading="flow.loading">
						<div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
							<h3>{{'REGISTER_FORM_PAGE.TITLE' | translate}}</h3>
							<form role="form" name="form" ng-submit="auth.save()">
								<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-warning has-feedback'}[flow.validInput.username]">
									<label class="control-label" for="bio">{{'REGISTER_FORM_PAGE.USERNAME_LABEL' | translate}}</label>
									<input type="text" class="form-control" id="bio" wx-validate="username" pattern="^[A-Za-z0-9-]{1,32}$" formText ng-model="auth.bio" ng-blur="auth.checkUsername()">
									<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-warning-sign'}[flow.validInput.username]" ng-show="flow.validInput.username !== null"></span>
									<p class="help-block" ng-show="auth.messages.usernameExists">{{'ACCOUNT_MSG.DUPLICATE_USER' | translate }}</p>
									<p class="help-block" ng-hide="auth.messages.usernameExists">{{'REGISTER_FORM_PAGE.USERNAME_DESC' | translate}}</p>
								</div>
								<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.email]">
									<label class="control-label" for="email">{{'REGISTER_FORM_PAGE.EMAIL_LABEL' | translate}}</label>
									<input type="email" class="form-control" id="email" required ng-model="auth.email" ng-change="auth.checkEmail()">
									<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.email]"></span>
									<p class="help-block" ng-show="auth.messages.emailExists">{{'ACCOUNT_MSG.DUPLICATE_EMAIL' | translate }}</p>
								</div>
								<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.password]">
									<label class="control-label" for="password">{{'REGISTER_FORM_PAGE.PASS_LABEL' | translate}}</label>
									<input type="password" class="form-control" id="password" wx-validate="password" required pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.password" ng-change="auth.checkPassword()">
									<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.password]" ng-show="flow.validInput.password !== null"></span>
									<p class="help-block">{{'REGISTER_FORM_PAGE.PASS_DESC' | translate}}</p>
								</div>
								<div class="form-group" ng-class="{null: '',true: 'has-success has-feedback',false: 'has-error has-feedback'}[flow.validInput.samePassword]">
									<label class="control-label" for="samePassword">{{'REGISTER_FORM_PAGE.REPEAT_PASS' | translate}}</label>
									<input type="password" class="form-control" id="samePassword" wx-validate="password" required pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.samePassword" wx-password-match="auth.password" ng-change="auth.checkSamePassword()">
									<span class="glyphicon form-control-feedback" ng-class="{null: '',true: 'glyphicon-ok',false: 'glyphicon-remove'}[flow.validInput.samePassword]" ng-show="flow.validInput.samePassword !== null"></span>
								</div>
							<!-- 	<div class="checkbox">
									<label>
										<input type="checkbox" ng-checked="auth.newsletter"> Quiero recibir noticias dateras de vez en cuando
									</label>
								</div> -->
								<input type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" value="{{'REGISTER' | translate}}" analytics-on="submit" analytics-event="RegisterDatea">
								<button type="submit" class="btn datea-datear-btn datea-btn-nopad btn-lg" disabled>{{'REGISTER' | translate}}</button>
							</form>
						</div>
					</div>
			<!-- 		<hr>
					<pre>Validation: {{form.$error|json}}</pre> -->
				</div>
				<div class="row register-success-msg wbox" ng-show="flow.registerSuccess">
					<div class="col-xs-12">
						<h3>{{'REGISTER_FORM_PAGE.CONFIRM_TITLE' | translate}}</h3>
						<p>{{'REGISTER_FORM_PAGE.CONFIRM1' | translate}}</p>
						<p>{{'REGISTER_FORM_PAGE.CONFIRM2' | translate}}</p>
						<!--<p><a class="btn btn-success btn-lg" href="/signin">Ingresar</a></p>-->    
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
