<a href="/">
	<h1>{{datea.name}}</h1>
</a>

<h2>Basic Auth</h2>
<form role="form" name="form" ng-submit="auth.save()">
	<div class="form-group" ng-show="auth.passwordRequired">
		<label for="bio">username – <small>6 to 10 alphanumeric characters</small></label>
		<input type="text" class="form-control" id="bio" wx-validate="username" pattern="^[A-Za-z0-9]{6,10}$" ng-required="auth.passwordRequired" formText ng-model="auth.bio">
	</div>
	<div class="form-group">
		<label for="email">email – <small>valid email</small></label>
		<input type="email" class="form-control" id="email" required ng-model="auth.email">
	</div>
	<div class="form-group" ng-show="auth.passwordRequired">
		<label for="password">password – <small>6 to 32 uppercase, lowercase, number/specialchar (at least one numeric char needed)</small></label>
		<input type="password" class="form-control" id="password" wx-validate="password" ng-required="auth.passwordRequired" pattern="^(?=.*\d)(?=.*[a-z])(?!.*\s).{6,32}$" ng-model="auth.password">
	</div>
	<p>Los siguientes campos estarán con type hidden</p>
	<div class="form-group">
		<label for="twitterId">twitter id – <small>valid twitter id</small></label>
		<input type="text" class="form-control" id="twitterId" wx-validate="twitter" pattern="^[A-Za-z0-9_]{1,15}$" required ng-model="auth.twitterId">
	</div>
	<div class="form-group">
		<label for="facebookId">facebook id – <small>valid facebook id</small></label>
		<input type="text" class="form-control" id="facebookId" wx-validate="facebook" pattern="^[A-Za-z0-9_]{1,15}$" required ng-model="auth.facebookId">
	</div>
	<input type="submit" class="btn btn-info" value="Sign up">
	<button class="btn btn-info" disabled>Sign up</button>
	<span ng-bind="auth.message"></span>
</form>
<hr>
<pre>Validation: {{form.$error|json}}</pre>