<div class="tag-holder ff1" ng-hide="flow.notFound">
	<div class="tag-card container-fluid clearfix">
		<h2 class="title pull-left">#{{tag.tag}}</h2>
		<div class="stats pull-left">
			<span class="dateo-count">{{tag.dateo_count}} <ng-pluralize count="tag.dateo_count" when="{'one': 'dateo','other':'dateos'}"></span>
			<span class="follow-count">{{tag.follow_count}} <ng-pluralize count="tag.follow_count" when="{'one': 'seguidor','other':'seguidores'}"></span>
		</div>
		<div class="buttons pull-left">
			<button class="btn datea-btn" ng-show="tag.followable" ng-click="tag.followTag()">+seguir</button>
			<button class="btn datea-btn" ng-show="!tag.followable && tag.isUserSignedIn" ng-click="tag.unfollowTag()">x no seguir</button>
			<button class="btn datea-datear-btn btn-lg" ng-click="tag.datear()">Datea <i class="glyphicon glyphicon-map-marker"></i></button>
		</div>
	</div>
	
	<div class="viz-holder">
		<div class="viz-nav">
			<div class="search">
				<form class="form search-form" ng-submit="tag.searchDateos()">
					<!--<div class="form-group">-->
						<div class="input-group">
							<input type="text" class="form-control" ng-model="tag.searchDateosKeyword">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-search" ng-click="tag.searchDateos()"></i></button>
							</span>
						</div>
					<!--</div>-->
				</form>
				<div class="order-by-holder" ng-hide="search.show_orderby">
					<span class="order-by-label">ordernar por:</span>
						<select class="selectpicker" data-style="btn-link" name="orderBy" ng-model="tag.selectedMarker" ng-change="tag.onSelectFilterChange()">
							<option value="last">últimos</option>
							<option value="mostVoted">más apoyados</option>
							<option value="mostCommented">más comentados</option>
						</select>
			  </div>
			</div>
		</div>
		<div class="viz-viewer" ng-class="{'datea-loading': tag.loading.dateos }">
			<tabset>
				<tab heading="&nbsp;" class="glyphicon glyphicon-map-marker datea-glyphtab-fix">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-45 dateos-holder">
								<div class="dateo-description-holder">
									
										<da-dateo-teaser ng-repeat="dateo in tag.dateos"></da-dateo-teaser>
										
								</div>
							</div>
							<div class="col-md-75 leaflet-map-holder">
								<leaflet id="leafletCampaign" defaults="tag.leaflet.defaults" markers="tag.leaflet.markers" center="tag.leaflet.center" width="100%"></leaflet>
							</div>
						</div>
					</div>
				</tab>
				<tab heading="&nbsp;" class="glyphicon glyphicon-camera datea-glyphtab-fix" ng-show="tag.dateosWithImages.length > 0">
					<div class="dateos-with-images-holder" ng-style="tag.dateosWithImagesHolderHeight">
							<da-dateo-thumb ng-repeat="dateo in tag.dateosWithImages"></da-dateo-thumb>
					</div>
				</tab>
			</tabset>
		</div>
	</div>


</div>
<div class="not-found" ng-if="flow.notFound" ng-include="'views/notFound.html'" ng-hide="!flow.notFound">
</div>
