<div class="widget-btn vote-btn datea-glyph-holder can-delete" ng-click="flow.doVote()" ng-class="{'active': flow.isActive, 'disabled': flow.disabled, 'loading': flow.loading, 'hover-enabled': flow.hoverEnabled}" ng-mouseleave="flow.onMouseLeave()">
	<span class="check glyphicon glyphicon-ok"></span>
	<span class="delete">&times;</span>
	<i class="fa fa-circle-o-notch fa-spin" ng-show="flow.loading"></i>
	<i class="disabled-icon fa fa-ban"></i>
	<span class="glyphicon glyphicon-thumbs-up datea-glyph" ng-hide="flow.loading" tooltip="apoya!" tootltip-trigger="mouseenter" tooltip-placement="bottom" tooltip-popup-delay="500"></span> <span class="datea-glyph-text" ng-show="voteObj.vote_count"><p>{{voteObj.vote_count}}</p> <p>{{(voteObj.vote_count == 1 ? 'VOTE' : 'VOTES') | translate}}</p></span>
</div>
